openapi: 3.0.3
info:
  title: Campfire Developer APIs Accounts Payable Integrations API
  version: 1.0.0
  description: '## Introduction

    Campfire''s developer APIs offer granular access to Campfire''s core accounting,

    revenue recognition, and financial data features.


    These APIs are designed to be used by developers to build custom integrations,

    automate workflows, and perform any other programmatic operations.

    '
servers:
- url: https://api.meetcampfire.com
  description: Production server
tags:
- name: Integrations
paths:
  /integrations/api/v1/webhook:
    get:
      operationId: integrations_api_v1_webhook_list
      summary: List Webhooks
      tags:
      - Integrations
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
          description: ''
    post:
      operationId: integrations_api_v1_webhook_create
      summary: Create Webhook
      tags:
      - Integrations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Webhook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Webhook'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: ''
  /integrations/api/v1/webhook/{id}:
    get:
      operationId: integrations_api_v1_webhook_retrieve
      summary: Retrieve Webhook
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Integrations
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: ''
    put:
      operationId: integrations_api_v1_webhook_update
      summary: Update Webhook
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Integrations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Webhook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Webhook'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: ''
    patch:
      operationId: integrations_api_v1_webhook_partial_update
      summary: Partial Update Webhook
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Integrations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedWebhook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedWebhook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedWebhook'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: ''
    delete:
      operationId: integrations_api_v1_webhook_destroy
      summary: Delete Webhook
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Integrations
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /integrations/api/v1/webhook/{id}/events:
    get:
      operationId: integrations_api_v1_webhook_events_list
      summary: List Webhook Events
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Integrations
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEvent'
          description: ''
components:
  schemas:
    WebhookEvent:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        object: {}
        status:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true
        url:
          type: string
          format: uri
          maxLength: 1024
        topic:
          type: string
        http:
          readOnly: true
        webhook:
          type: integer
          readOnly: true
          nullable: true
      required:
      - created_at
      - http
      - id
      - object
      - status
      - topic
      - url
      - webhook
    Webhook:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          maxLength: 1024
        token:
          type: string
          readOnly: true
        topics:
          type: array
          items:
            $ref: '#/components/schemas/WebhookTopic'
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
        customer:
          type: integer
          readOnly: true
      required:
      - active
      - created_at
      - customer
      - id
      - last_modified_at
      - token
      - url
      - uuid
    PatchedWebhook:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          maxLength: 1024
        token:
          type: string
          readOnly: true
        topics:
          type: array
          items:
            $ref: '#/components/schemas/WebhookTopic'
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
        customer:
          type: integer
          readOnly: true
    WebhookTopic:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
      required:
      - id
      - name
  securitySchemes:
    knoxApiToken:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
