openapi: 3.2.0
info:
  title: Campfire Developer Accounts Payable API
  version: 1.0.0
  description: '## Introduction

    Campfire''s developer APIs offer granular access to Campfire''s core accounting,

    revenue recognition, and financial data features.


    These APIs are designed to be used by developers to build custom integrations,

    automate workflows, and perform any other programmatic operations.'
servers:
- url: https://api.meetcampfire.com
  description: Production server
tags:
- name: Accounts Payable
  description: Operations related to billing and the AP subledger.
paths:
  /coa/api/v1/bill/:
    get:
      operationId: coa_api_v1_bill_retrieve
      description: 'Retrieve a paginated list of accounting bills with comprehensive filtering, search, and sorting capabilities.


        This endpoint provides complete access to your bills data with:

        - Advanced filtering by date ranges, payment status, vendors, entities, and currency

        - Full-text search across bill numbers, vendor names, addresses, and bill messages

        - Flexible sorting by any field including calculated fields (totals, amounts due, etc.)

        - Comprehensive pagination with customizable page sizes

        - Aging calculations and payment status categorization

        - Automatic calculation of totals, amounts paid, and amounts due


        **Deleted Records Support:**

        - When include_deleted=true: Returns ONLY deleted bills with minimal data (id, is_deleted, deleted_at, last_modified_at)

        - When include_deleted=false or omitted: Returns ONLY active bills with full data

        - Timestamp filtering (last_modified_at__gte/lte) works with both active and deleted records'
      summary: List Accounting Bills
      parameters:
      - in: query
        name: currency
        schema:
          type: string
        description: Filter by currency code (e.g., USD, EUR)
      - in: query
        name: download
        schema:
          type: boolean
          default: false
        description: If true, triggers async download workflow and sends bills via email
      - in: query
        name: end_date
        schema:
          type: string
        description: Filter bills with bill_date on or before this date (YYYY-MM-DD)
      - in: query
        name: entity
        schema:
          type: integer
        description: Filter by entity ID. Can be specified multiple times for multiple entities
        explode: true
        style: form
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: limit
        schema:
          type: integer
          default: 50
        description: 'Number of results to return per page (default: 50, max: 1000)'
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
        description: The initial index from which to return the results
      - in: query
        name: q
        schema:
          type: string
        description: Search query - searches by mailing address, bill number, message on bill, or vendor name
      - in: query
        name: sort
        schema:
          type: string
          default: -bill_date
        description: 'Sort order. Use field name for ascending, -field for descending. Special fields: vendor_name, total_amount, amount_paid, amount_due, payment. Default: -bill_date'
      - in: query
        name: start_date
        schema:
          type: string
        description: Filter bills with bill_date on or after this date (YYYY-MM-DD)
      - in: query
        name: status
        schema:
          type: string
          enum:
          - '1_30'
          - '31_60'
          - '61_90'
          - '91_120'
          - current
          - open
          - over_120
          - paid
          - partially_paid
          - past_due
          - payment_not_found
          - payment_pending
          - unpaid
          - voided
        description: Filter by payment status
      - in: query
        name: vendor
        schema:
          type: integer
        description: Filter by vendor ID. Can be specified multiple times for multiple vendors
        explode: true
        style: form
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
    post:
      operationId: coa_api_v1_bill_create
      description: 'Creates a new accounting bill with line items and automatic journal entry generation.


        This endpoint allows for complex bill creation with:

        - Multiple line items with different accounts, departments, and vendor assignments

        - Automatic accounts payable journal entry creation

        - Tax calculations and tax account handling

        - Exchange rate support for multi-currency transactions

        - Custom field support for additional bill metadata


        Requirements:

        - All referenced accounts must exist and be active

        - Vendor must exist

        - Entity must exist

        - Line items must have valid amounts and descriptions

        - Currency must be valid for the entity

        - Accounting date must be before closed book date'
      summary: Create Accounting Bill
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingBill'
            examples:
              CreateBillRequest:
                value:
                  payment_term: 1234
                  bill_date: '2025-08-01'
                  due_date: '2025-08-24'
                  lines:
                  - tags:
                    - id: '8355'
                      name: Project A
                      group: 727
                    account: '2622'
                    account_name: 6700 - Office Expenses
                    amount: 10000
                    description: 1x Large Expense Line
                    bill_customer: '34182'
                    bill_customer_name: ABC Bead Supply
                    department: '35'
                    department_name: Engineering
                  entity: '54'
                  entity_name: Top Level
                  entity_currency: USD
                  currency: USD
                  exchange_rate_book: 1
                  exchange_rate: 1
                  vendor: '34182'
                  vendor_name: ABC Bead Supply
                  bill_number: '1234567'
                  item_date: '2025-08-01'
                  message_on_bill: A really big expense
                  mailing_address: 1234 Campground Road. San Francisco CA 98765
                summary: Standard bill creation with multiple line items
                description: Example of creating a bill with multiple expense line items, vendor assignment, and payment terms
              CreateBillResponse:
                value:
                  id: 31894
                  lines:
                  - id: 298626
                    account_number: '6700'
                    account_name: 6700 - Office Expenses
                    department_name: Engineering
                    bill_customer_name: ABC Bead Supply
                    tags:
                    - id: 8355
                      group_name: Projects
                      parent_name: null
                      parent: null
                      name: Project A
                      created_at: 2025-07-17T16:21:02+0000
                      last_modified_at: 2025-07-17T16:21:02+0000
                      group: 727
                    amortization_schedule: []
                    description: 1x Large Expense Line
                    amount: 10000
                    tax: 0
                    tax_description: null
                    source: null
                    source_id: null
                    currency: USD
                    created_at: 2025-07-25T04:24:32+0000
                    last_modified_at: 2025-07-25T04:24:32+0000
                    account: 2622
                    bill_customer: 34182
                    department: 35
                  payments: []
                  payment_journal_entries: []
                  status: open
                  past_due_days: null
                  entity_name: Top Level
                  entity_currency: USD
                  vendor_name: ABC Bead Supply
                  attachments: []
                  total_amount: 10000
                  amount_due: 10000
                  amount_paid: 0
                  item_date: '2025-08-01'
                  voided_date: null
                  search_vector: null
                  search_text: null
                  mailing_address: 1234 Campground Road. San Francisco CA 98765
                  terms: null
                  bill_number: '1234567'
                  bill_date: '2025-08-01'
                  due_date: '2025-08-24'
                  paid_date: null
                  message_on_bill: A really big expense
                  source_id: null
                  source: null
                  payment_status: open
                  currency: USD
                  exchange_rate: 1
                  exchange_rate_book: 1
                  created_at: 2025-07-25T04:24:32+0000
                  last_modified_at: 2025-07-25T04:24:32+0000
                  entity: 54
                  vendor: 34182
                  payment_term: 1234
                  payment_term_name: Net 30
                  journal_entry: 7491951
                  source_file: null
                  tax_rate: null
                  voided_journal_entry: null
                summary: Response after successfully creating a bill
                description: Example response showing the created bill with generated IDs, calculated totals, and journal entry information
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccountingBill'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccountingBill'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
              examples:
                CreateBillResponse:
                  value:
                    id: 31894
                    lines:
                    - id: 298626
                      account_number: '6700'
                      account_name: 6700 - Office Expenses
                      department_name: Engineering
                      bill_customer_name: ABC Bead Supply
                      tags:
                      - id: 8355
                        group_name: Projects
                        parent_name: null
                        parent: null
                        name: Project A
                        created_at: 2025-07-17T16:21:02+0000
                        last_modified_at: 2025-07-17T16:21:02+0000
                        group: 727
                      amortization_schedule: []
                      description: 1x Large Expense Line
                      amount: 10000
                      tax: 0
                      tax_description: null
                      source: null
                      source_id: null
                      currency: USD
                      created_at: 2025-07-25T04:24:32+0000
                      last_modified_at: 2025-07-25T04:24:32+0000
                      account: 2622
                      bill_customer: 34182
                      department: 35
                    payments: []
                    payment_journal_entries: []
                    status: open
                    past_due_days: null
                    entity_name: Top Level
                    entity_currency: USD
                    vendor_name: ABC Bead Supply
                    attachments: []
                    total_amount: 10000
                    amount_due: 10000
                    amount_paid: 0
                    item_date: '2025-08-01'
                    voided_date: null
                    search_vector: null
                    search_text: null
                    mailing_address: 1234 Campground Road. San Francisco CA 98765
                    terms: null
                    bill_number: '1234567'
                    bill_date: '2025-08-01'
                    due_date: '2025-08-24'
                    paid_date: null
                    message_on_bill: A really big expense
                    source_id: null
                    source: null
                    payment_status: open
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    created_at: 2025-07-25T04:24:32+0000
                    last_modified_at: 2025-07-25T04:24:32+0000
                    entity: 54
                    vendor: 34182
                    payment_term: 1234
                    payment_term_name: Net 30
                    journal_entry: 7491951
                    source_file: null
                    tax_rate: null
                    voided_journal_entry: null
                  summary: Response after successfully creating a bill
                  description: Example response showing the created bill with generated IDs, calculated totals, and journal entry information
          description: ''
  /coa/api/v1/bill-draft:
    get:
      operationId: list_bill_drafts
      description: GET list (customer-scoped, ``status`` / ``source`` filterable) + POST UI upload.
      summary: List Bill Drafts
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDraftRead'
          description: ''
    post:
      operationId: create_bill_draft
      description: GET list (customer-scoped, ``status`` / ``source`` filterable) + POST UI upload.
      summary: Create Bill Draft
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillDraftCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillDraftCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BillDraftCreate'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillDraftCreate'
          description: ''
  /coa/api/v1/bill-draft/{id}:
    get:
      operationId: get_bill_draft
      description: GET detail + PATCH update on a single BillDraft.
      summary: Retrieve Bill Draft
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillDraftRead'
          description: ''
    put:
      operationId: update_bill_draft
      description: GET detail + PATCH update on a single BillDraft.
      summary: Update Bill Draft
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillDraftWrite'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillDraftWrite'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BillDraftWrite'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillDraftWrite'
          description: ''
    patch:
      operationId: partial_update_bill_draft
      description: GET detail + PATCH update on a single BillDraft.
      summary: Partial Update Bill Draft
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedBillDraftWrite'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedBillDraftWrite'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedBillDraftWrite'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillDraftWrite'
          description: ''
  /coa/api/v1/bill-draft/{id}/abandon:
    post:
      operationId: abandon_bill_draft
      description: POST /bill-draft//abandon — hard-delete an unfinished UI upload draft.
      summary: Abandon Bill Draft
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /coa/api/v1/bill-draft/{id}/discard:
    post:
      operationId: discard_bill_draft
      description: POST /bill-draft//discard — terminal state with a required reason.
      summary: Discard Bill Draft
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /coa/api/v1/bill-draft/{id}/promote:
    post:
      operationId: promote_bill_draft
      description: POST /bill-draft//promote — routes through the promote service.
      summary: Promote Bill Draft
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /coa/api/v1/bill-payments:
    get:
      operationId: coa_api_v1_bill_payments_list
      description: 'Retrieve a paginated list of bill payments (payments applied against accounts

        payable bills), designed for syncing payment data into external systems.


        Results are ordered by (last_modified_at, id) ascending, so pages are stable and

        a sync can resume from where it left off.


        **Full sync (cursor pagination):**

        - Pass an empty cursor parameter (cursor=) on the first request

        - Follow the ''next'' URL from each response until it is null


        **Incremental sync (time-based):**

        - Store the highest last_modified_at value you have processed

        - On the next run, pass it as last_modified_at__gte to fetch only new and updated payments


        **Voids:**

        - Voided payments are included by default with voided_date set, so integrators can

        detect payments that were reversed after a previous sync

        - Filter with voided=true or voided=false to fetch only one kind'
      summary: List Bill Payments
      parameters:
      - in: query
        name: cursor
        schema:
          type: string
        description: Opts into cursor pagination. Pass an empty value (cursor=) on the first request, then follow the 'next' URL from each response until it is null. The cursor value is opaque - do not parse or construct it. Cursor pagination is recommended for full syncs as it avoids the performance penalty of deep offsets on large result sets.
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for payments modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Use this for incremental syncs: store the highest last_modified_at you have processed and pass it on the next sync run.'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for payments modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Date-only values are inclusive of the entire day.'
      - in: query
        name: limit
        schema:
          type: integer
          default: 100
        description: Maximum number of records to return per page. Default 100, maximum 10000. Use with offset to paginate
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
        description: Number of records to skip before collecting the result page. Use with limit to paginate
      - in: query
        name: skip_count
        schema:
          type: boolean
          default: false
        description: When 'true', skips the total COUNT query and returns a lower-bound 'count' instead. Recommended for large syncs where the exact total is not needed.
      - in: query
        name: voided
        schema:
          type: boolean
        description: Filter by void status. When 'true', returns only voided payments (voided_date is set). When 'false', returns only active payments. When omitted, returns both so integrators can detect and propagate voids.
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBillPaymentSyncList'
          description: ''
  /coa/api/v1/bill/{bill_id}/empty-transaction-default-department-tags:
    get:
      operationId: coa_api_v1_bill_empty_transaction_default_department_tags_retrieve
      description: 'Get the default department and tags from the bill line with the largest total amount.


        This endpoint is used to provide default values when creating empty transactions (marking as paid without a transaction).

        The total amount is calculated as: amount + tax.

        If multiple lines have the same total amount, the line with the lowest ID (first created) is selected.

        The department and tags are retrieved directly from the bill line.'
      summary: Get Default Department and Tags for Empty Transaction
      parameters:
      - in: path
        name: bill_id
        schema:
          type: integer
        description: ID of the bill
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  department:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        group:
                          type:
                          - integer
                          - 'null'
                        group_name:
                          type:
                          - string
                          - 'null'
          description: ''
        '404':
          content:
            application/json:
              schema:
                description: Bill not found
          description: ''
  /coa/api/v1/bill/{bill_id}/pay/:
    post:
      operationId: coa_api_v1_bill_pay_create
      description: 'Mark a bill as paid, allowing partial payments.


        This endpoint supports multiple payment methods:

        - Apply existing transactions as payments

        - Apply debit memos to reduce the bill balance

        - Create manual payments without a transaction


        The request body should contain at least one of:

        - transactions: List of transaction payments to apply

        - debit_memos: List of debit memos to apply

        - empty_transactions: List of manual payments without transactions'
      summary: Mark Bill as Paid
      parameters:
      - in: path
        name: bill_id
        schema:
          type: integer
        description: ID of the bill to mark as paid
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkPaid'
            examples:
              MarkBillAsPaidRequest:
                value:
                  bill_id: '31894'
                  transactions:
                  - transaction_id: 21069178
                    transaction_description: ScholarShare ACHCONTRIB 070825
                    account_id: '2550'
                    account_name: 2010 - Accounts Payable
                    amount: 8999.99
                  debit_memos:
                  - debit_memo_id: 343
                    debit_memo_number: DM-0000005
                    amount: 1000.01
                    posted_at: '2025-07-25'
                summary: Mark Bill as Paid Request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MarkPaid'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MarkPaid'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: ''
  /coa/api/v1/bill/{bill_id}/payment/{payment_id}/void/:
    post:
      operationId: coa_api_v1_bill_payment_void_create
      description: 'Void an existing bill payment.


        This creates a reversing journal entry to void the payment and updates the bill status.


        Optionally accepts a void_date in the request body to specify when the payment should be voided.

        If not provided, defaults to today''s date.'
      summary: Void Bill Payment
      parameters:
      - in: path
        name: bill_id
        schema:
          type: integer
        description: ID of the bill
        required: true
      - in: path
        name: payment_id
        schema:
          type: integer
        description: ID of the payment to void
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidPayment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VoidPayment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VoidPayment'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBillPayment'
          description: ''
    delete:
      operationId: coa_api_v1_bill_payment_void_destroy
      description: 'Delete a bill payment.


        This removes the payment record and updates the transaction to uncategorized.'
      summary: Delete Bill Payment
      parameters:
      - in: path
        name: bill_id
        schema:
          type: integer
        description: ID of the bill
        required: true
      - in: path
        name: payment_id
        schema:
          type: integer
        description: ID of the payment to delete
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /coa/api/v1/bill/{bill_id}/reopen/:
    post:
      operationId: coa_api_v1_bill_reopen_create
      description: 'Reopen a voided bill.


        This removes the void date and void journal entry, and sets the bill status back to open.

        The voiding journal entry will be deleted to reverse the void operation.'
      summary: Reopen Voided Bill
      parameters:
      - in: path
        name: bill_id
        schema:
          type: integer
        description: ID of the voided bill to reopen
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: ''
  /coa/api/v1/bill/{bill_id}/sync-to-ramp/:
    post:
      operationId: coa_api_v1_bill_sync_to_ramp_create
      description: Sync a bill without a source to Ramp using the enabled Ramp connection
      summary: Sync Bill to Ramp
      parameters:
      - in: path
        name: bill_id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
        '400':
          description: No response body
        '404':
          description: No response body
  /coa/api/v1/bill/{bill_id}/void/:
    post:
      operationId: coa_api_v1_bill_void_create
      description: 'Void an existing bill.


        This creates a reversing journal entry to void the bill by reversing all debit and credit amounts.

        The bill status will be updated to reflect the void.'
      summary: Void Bill
      parameters:
      - in: path
        name: bill_id
        schema:
          type: integer
        description: ID of the bill to void
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidBillRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VoidBillRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VoidBillRequest'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: ''
  /coa/api/v1/bill/{id}/:
    get:
      operationId: coa_api_v1_bill_retrieve_2
      description: 'Retrieve a single accounting bill by ID with complete detail including all line items, payments, and related data.


        This endpoint returns comprehensive bill information including:

        - Full bill details with vendor, entity, and customer information

        - All line items with account details, departments, tags, and amortization schedules

        - Complete payment history with journal entry references

        - Calculated fields including total amounts, amounts paid, amounts due, and payment status

        - Journal entry references for accounting integration

        - Exchange rate information for multi-currency bills'
      summary: Retrieve Accounting Bill
      parameters:
      - in: path
        name: id
        schema:
          type: string
          pattern: ^\d+$
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
              examples:
                SingleBillResponse:
                  value:
                    id: 31894
                    lines:
                    - id: 298626
                      account_number: '6700'
                      account_name: 6700 - Office Expenses
                      department_name: Engineering
                      bill_customer_name: ABC Bead Supply
                      tags:
                      - id: 8355
                        group_name: Projects
                        parent_name: null
                        parent: null
                        name: Project A
                        created_at: 2025-07-17T16:21:02+0000
                        last_modified_at: 2025-07-17T16:21:02+0000
                        group: 727
                      amortization_schedule:
                      - id: 1234
                        date: '2025-09-01'
                        amount: 1000
                        description: Monthly amortization - Office equipment
                        bill_line: 298626
                        amortization: 567
                      description: 1x Large Expense Line
                      amount: 10000
                      tax: 800
                      tax_description: State Sales Tax
                      source: MANUAL
                      source_id: null
                      currency: USD
                      created_at: 2025-07-25T04:24:32+0000
                      last_modified_at: 2025-07-25T04:24:32+0000
                      account: 2622
                      bill_customer: 34182
                      department: 35
                    payments:
                    - id: 5234
                      amount: 5400
                      payment_date: '2025-08-15'
                      currency: USD
                      payment_transaction_bank_description: ACH Transfer
                      payment_journal_entry_order: JE-2025-001345
                      voided_journal_entry_order: null
                      created_at: 2025-08-15T14:22:33+0000
                      payment_journal_entry: 7491960
                      payment_transaction: 12345678
                      voided_journal_entry: null
                      source: BANK_IMPORT
                    payment_journal_entries:
                    - 7491960
                    status: partially_paid
                    past_due_days: null
                    entity_name: Top Level
                    entity_currency: USD
                    vendor_name: ABC Bead Supply
                    attachments:
                    - id: 9876
                      name: invoice_abc_supply_20250801.pdf
                      file_size: 234567
                      content_type: application/pdf
                      created_at: 2025-08-01T10:30:00+0000
                      url: https://storage.example.com/files/invoice_abc_supply_20250801.pdf
                    total_amount: 10800
                    amount_due: 5400
                    amount_paid: 5400
                    item_date: '2025-08-01'
                    voided_date: null
                    voided_journal_entry_order: null
                    search_vector: abc bead supply office expenses project
                    search_text: ABC Bead Supply 1234567 A really big expense
                    mailing_address: 1234 Campground Road. San Francisco CA 98765
                    terms: null
                    bill_number: '1234567'
                    bill_date: '2025-08-01'
                    due_date: '2025-08-31'
                    paid_date: null
                    message_on_bill: A really big expense
                    source_id: IMPORT-2025-0001
                    source: CSV_IMPORT
                    payment_status: partial
                    currency: USD
                    exchange_rate: 1.0
                    exchange_rate_book: 1.0
                    created_at: 2025-07-25T04:24:32+0000
                    last_modified_at: 2025-08-15T14:25:10+0000
                    entity: 54
                    vendor: 34182
                    payment_term: 1234
                    payment_term_name: Net 30
                    journal_entry: 7491951
                    source_file: 8877
                    tax_rate: 8551
                    custom_fields:
                      purchase_order_number: PO-2025-001234
                      department_approval: John Smith
                      project_code: PROJ-A-2025
                  summary: Complete bill details with line items and payments
                  description: Example response showing a fully detailed bill with line items, payment history, and all related metadata
          description: ''
    put:
      operationId: coa_api_v1_bill_update
      description: 'Update an existing accounting bill with complete replacement of all data including line items and metadata.


        This endpoint performs a full update (PUT) of an accounting bill with:

        - Complete replacement of all bill data including vendor, entity, dates, and terms

        - Full replacement of all line items with new account assignments, amounts, and descriptions

        - Automatic recalculation of journal entries and accounting transactions

        - Preservation of payment history while updating balances and amounts due

        - Validation of all referenced accounts, vendors, entities, and departments

        - Automatic exchange rate updates for multi-currency bills

        - Custom field updates and attachment management'
      summary: Update Accounting Bill
      parameters:
      - in: path
        name: id
        schema:
          type: string
          pattern: ^\d+$
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingBill'
            examples:
              UpdateBillRequest:
                value:
                  payment_term: 1236
                  bill_date: '2025-08-01'
                  due_date: '2025-09-15'
                  lines:
                  - tags:
                    - id: '8355'
                      name: Project A
                      group: 727
                    account: '2622'
                    account_name: 6700 - Office Expenses
                    amount: 12000
                    description: Updated Large Expense Line
                    bill_customer: '34182'
                    bill_customer_name: ABC Bead Supply
                    department: '35'
                    department_name: Engineering
                  - tags: []
                    account: '2600'
                    account_name: 5000 - Cost of Goods Sold
                    amount: 3000
                    description: Additional inventory purchase
                    bill_customer: '34182'
                    bill_customer_name: ABC Bead Supply
                    department: '36'
                    department_name: Sales
                  entity: '54'
                  entity_name: Top Level
                  entity_currency: USD
                  currency: USD
                  exchange_rate_book: 1
                  exchange_rate: 1
                  vendor: '34182'
                  vendor_name: ABC Bead Supply
                  bill_number: '1234567'
                  item_date: '2025-08-01'
                  message_on_bill: Updated large expense with additional items
                  mailing_address: 1234 Campground Road. San Francisco CA 98765
                summary: Complete bill update with modified line items
                description: Example of updating a bill with modified amounts, line items, and vendor information
              UpdateBillResponse:
                value:
                  id: 31894
                  lines:
                  - id: 298627
                    account_number: '6700'
                    account_name: 6700 - Office Expenses
                    department_name: Engineering
                    bill_customer_name: ABC Bead Supply
                    tags:
                    - id: 8355
                      group_name: Projects
                      parent_name: null
                      parent: null
                      name: Project A
                      created_at: 2025-07-17T16:21:02+0000
                      last_modified_at: 2025-07-17T16:21:02+0000
                      group: 727
                    amortization_schedule: []
                    description: Updated Large Expense Line
                    amount: 12000
                    tax: 0
                    tax_description: null
                    source: null
                    source_id: null
                    currency: USD
                    created_at: 2025-07-25T14:30:15+0000
                    last_modified_at: 2025-07-25T14:30:15+0000
                    account: 2622
                    bill_customer: 34182
                    department: 35
                  - id: 298628
                    account_number: '5000'
                    account_name: 5000 - Cost of Goods Sold
                    department_name: Sales
                    bill_customer_name: ABC Bead Supply
                    tags: []
                    amortization_schedule: []
                    description: Additional inventory purchase
                    amount: 3000
                    tax: 0
                    tax_description: null
                    source: null
                    source_id: null
                    currency: USD
                    created_at: 2025-07-25T14:30:15+0000
                    last_modified_at: 2025-07-25T14:30:15+0000
                    account: 2600
                    bill_customer: 34182
                    department: 36
                  payments:
                  - id: 5234
                    amount: 5400
                    payment_date: '2025-08-15'
                    currency: USD
                    payment_transaction_bank_description: ACH Transfer
                    payment_journal_entry_order: JE-2025-001345
                    voided_journal_entry_order: null
                    created_at: 2025-08-15T14:22:33+0000
                    payment_journal_entry: 7491960
                    payment_transaction: 12345678
                    voided_journal_entry: null
                    source: BANK_IMPORT
                  payment_journal_entries:
                  - 7491960
                  status: partially_paid
                  past_due_days: null
                  entity_name: Top Level
                  entity_currency: USD
                  vendor_name: ABC Bead Supply
                  attachments: []
                  total_amount: 15000
                  amount_due: 9600
                  amount_paid: 5400
                  item_date: '2025-08-01'
                  voided_date: null
                  voided_journal_entry_order: null
                  search_vector: null
                  search_text: null
                  mailing_address: 1234 Campground Road. San Francisco CA 98765
                  terms: null
                  bill_number: '1234567'
                  bill_date: '2025-08-01'
                  due_date: '2025-09-15'
                  paid_date: null
                  message_on_bill: Updated large expense with additional items
                  source_id: null
                  source: null
                  payment_status: partial
                  currency: USD
                  exchange_rate: 1
                  exchange_rate_book: 1
                  created_at: 2025-07-25T04:24:32+0000
                  last_modified_at: 2025-07-25T14:30:15+0000
                  entity: 54
                  vendor: 34182
                  payment_term: 1236
                  payment_term_name: Net 45
                  journal_entry: 7491951
                  source_file: null
                  tax_rate: null
                  voided_journal_entry: null
                summary: Response after successfully updating a bill
                description: Example response showing the updated bill with new amounts, recalculated totals, and preserved payment history
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccountingBill'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccountingBill'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
              examples:
                UpdateBillResponse:
                  value:
                    id: 31894
                    lines:
                    - id: 298627
                      account_number: '6700'
                      account_name: 6700 - Office Expenses
                      department_name: Engineering
                      bill_customer_name: ABC Bead Supply
                      tags:
                      - id: 8355
                        group_name: Projects
                        parent_name: null
                        parent: null
                        name: Project A
                        created_at: 2025-07-17T16:21:02+0000
                        last_modified_at: 2025-07-17T16:21:02+0000
                        group: 727
                      amortization_schedule: []
                      description: Updated Large Expense Line
                      amount: 12000
                      tax: 0
                      tax_description: null
                      source: null
                      source_id: null
                      currency: USD
                      created_at: 2025-07-25T14:30:15+0000
                      last_modified_at: 2025-07-25T14:30:15+0000
                      account: 2622
                      bill_customer: 34182
                      department: 35
                    - id: 298628
                      account_number: '5000'
                      account_name: 5000 - Cost of Goods Sold
                      department_name: Sales
                      bill_customer_name: ABC Bead Supply
                      tags: []
                      amortization_schedule: []
                      description: Additional inventory purchase
                      amount: 3000
                      tax: 0
                      tax_description: null
                      source: null
                      source_id: null
                      currency: USD
                      created_at: 2025-07-25T14:30:15+0000
                      last_modified_at: 2025-07-25T14:30:15+0000
                      account: 2600
                      bill_customer: 34182
                      department: 36
                    payments:
                    - id: 5234
                      amount: 5400
                      payment_date: '2025-08-15'
                      currency: USD
                      payment_transaction_bank_description: ACH Transfer
                      payment_journal_entry_order: JE-2025-001345
                      voided_journal_entry_order: null
                      created_at: 2025-08-15T14:22:33+0000
                      payment_journal_entry: 7491960
                      payment_transaction: 12345678
                      voided_journal_entry: null
                      source: BANK_IMPORT
                    payment_journal_entries:
                    - 7491960
                    status: partially_paid
                    past_due_days: null
                    entity_name: Top Level
                    entity_currency: USD
                    vendor_name: ABC Bead Supply
                    attachments: []
                    total_amount: 15000
                    amount_due: 9600
                    amount_paid: 5400
                    item_date: '2025-08-01'
                    voided_date: null
                    voided_journal_entry_order: null
                    search_vector: null
                    search_text: null
                    mailing_address: 1234 Campground Road. San Francisco CA 98765
                    terms: null
                    bill_number: '1234567'
                    bill_date: '2025-08-01'
                    due_date: '2025-09-15'
                    paid_date: null
                    message_on_bill: Updated large expense with additional items
                    source_id: null
                    source: null
                    payment_status: partial
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    created_at: 2025-07-25T04:24:32+0000
                    last_modified_at: 2025-07-25T14:30:15+0000
                    entity: 54
                    vendor: 34182
                    payment_term: 1236
                    payment_term_name: Net 45
                    journal_entry: 7491951
                    source_file: null
                    tax_rate: null
                    voided_journal_entry: null
                  summary: Response after successfully updating a bill
                  description: Example response showing the updated bill with new amounts, recalculated totals, and preserved payment history
          description: ''
    patch:
      operationId: coa_api_v1_bill_partial_update
      description: 'Performs a partial update of an existing accounting bill using PATCH semantics.


        This endpoint allows selective modification of bill fields without requiring

        a complete bill replacement. You can update specific aspects of the bill while

        leaving other fields unchanged.


        **Updatable Fields:**

        - Bill metadata (number, dates, descriptions, vendor, entity)

        - Line items (amounts, accounts, descriptions, departments)

        - Payment terms and due dates

        - Tax calculations and allocations

        - Custom fields and tags

        - Currency and exchange rates'
      summary: Partial Update Accounting Bill
      parameters:
      - in: path
        name: id
        schema:
          type: string
          pattern: ^\d+$
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedAccountingBill'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedAccountingBill'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedAccountingBill'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: ''
    delete:
      operationId: coa_api_v1_bill_destroy
      description: 'Permanently deletes an accounting bill and its associated journal entry.


        This endpoint performs a complete deletion of the bill including:

        - Removal of all bill line items and associated data

        - Deletion of the corresponding accounts payable journal entry

        - Cleanup of any tax calculations and allocations

        - Removal of vendor payment allocations if applicable


        **Important Notes:**

        - This operation is irreversible and permanently removes the bill from the system

        - The associated journal entry will be automatically deleted to maintain accounting integrity

        - All double-entry bookkeeping records related to this bill will be removed

        - Any payments allocated to this bill should be handled separately before deletion

        - Deletion may affect financial reports and account balances


        **Restrictions:**

        - Bills with allocated payments may require payment reallocation first

        - Consider the impact on historical financial reporting

        - Bills cannot be deleted in a closed period'
      summary: Delete Accounting Bill
      parameters:
      - in: path
        name: id
        schema:
          type: string
          pattern: ^\d+$
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /coa/api/v1/bill/amortization/generate-schedule:
    get:
      operationId: generate_bill_amortization_schedule
      summary: Generate Bill Amortization Schedule
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
    put:
      operationId: save_bill_amortization_schedule
      summary: Save Bill Amortization Schedule
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /coa/api/v1/bill/bulk-search:
    post:
      operationId: coa_api_v1_bill_bulk_search_create
      description: Search for thousands of bills by exact bill number match in a single request. Optimized for performance.
      summary: Bulk Search Bills by Number
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkBillSearch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BulkBillSearch'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BulkBillSearch'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
                description: Unspecified response body
          description: ''
  /coa/api/v1/bill/bulk-sync-to-ramp/:
    post:
      operationId: bulk_sync_bills_to_ramp
      description: Sync multiple bills without a source to Ramp using the enabled Ramp connection
      summary: Bulk Sync Bills to Ramp
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
        '400':
          description: No response body
  /coa/api/v1/debit-memo:
    get:
      operationId: coa_api_v1_debit_memo_list
      description: 'Retrieves a paginated list of accounting debit memos with filtering and sorting capabilities.


        Supports filtering by date ranges, status, vendors, entities, and full-text search.'
      summary: List Debit Memos
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountingDebitMemoList'
              examples:
                DebitMemosListResponse:
                  value:
                    count: 123
                    next: http://api.example.org/accounts/?offset=400&limit=100
                    previous: http://api.example.org/accounts/?offset=200&limit=100
                    results:
                    - count: 50
                      next: http://api.example.com/debit-memos/?limit=20&offset=20
                      previous: null
                      results:
                      - id: 343
                        lines:
                        - id: 409
                          account_number: '6500'
                          account_name: 6500 - Travel Expenses
                          department_name: Customer Support
                          tags:
                          - id: 8344
                            group_name: Fund
                            parent_name: null
                            parent: null
                            name: Fund 1
                            created_at: 2025-07-15T18:40:55+0000
                            last_modified_at: 2025-07-15T18:40:55+0000
                            group: 696
                          description: Debit Memo Line
                          amount: 1000.01
                          created_at: 2025-07-25T21:50:15+0000
                          last_modified_at: 2025-07-25T21:50:15+0000
                          account: 2613
                          department: 365
                        payments: []
                        total_amount: 1000.01
                        amount_used: 0
                        amount_remaining: 1000.01
                        entity_name: Top Level
                        entity_currency: USD
                        vendor_name: ABC Bead Supply
                        debit_account_name: 5230 - Cloud Credits
                        attachments: []
                        debit_memo_number: DM-0000005
                        voided_date: null
                        ref_number: null
                        debit_memo_date: '2025-07-01'
                        applied_date: null
                        message_on_debit_memo: Debit Memo Message
                        application_status: open
                        currency: USD
                        exchange_rate: 1
                        exchange_rate_book: 1
                        created_at: 2025-07-25T21:50:15+0000
                        last_modified_at: 2025-07-25T21:50:15+0000
                        customer: 2
                        entity: 54
                        vendor: 34182
                        debit_account: 41905
                        journal_entry: 7491954
                        voided_journal_entry: null
                  summary: Debit Memos List Response
          description: ''
    post:
      operationId: coa_api_v1_debit_memo_create
      description: 'Creates a new accounting debit memo with line items and automatic journal entry generation.


        Debit memos are used to record amounts owed to vendors or to adjust vendor account balances.

        This endpoint handles multi-currency transactions, departmental allocations, and automatic

        double-entry bookkeeping.'
      summary: Create Debit Memo
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingDebitMemo'
            examples:
              CreateDebitMemoRequest:
                value:
                  lines:
                  - tags:
                    - id: '8344'
                      name: Fund 1
                      group: 696
                    account: '2613'
                    account_name: 6500 - Travel Expenses
                    description: Debit Memo Line
                    amount: 1000.01
                    department: '365'
                    department_name: Customer Support
                  entity: '54'
                  entity_name: Top Level
                  entity_currency: USD
                  currency: USD
                  vendor: '34182'
                  vendor_name: ABC Bead Supply
                  debit_memo_date: '2025-07-01'
                  exchange_rate_book: 1
                  exchange_rate: 1
                  debit_account: '41905'
                  debit_account_name: 5230 - Cloud Credits
                  message_on_debit_memo: Debit Memo Message
                summary: Create Debit Memo Request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccountingDebitMemo'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccountingDebitMemo'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingDebitMemo'
              examples:
                CreateDebitMemoResponse:
                  value:
                    id: 343
                    lines:
                    - id: 409
                      account_number: '6500'
                      account_name: 6500 - Travel Expenses
                      department_name: Customer Support
                      tags:
                      - id: 8344
                        group_name: Fund
                        parent_name: null
                        parent: null
                        name: Fund 1
                        created_at: 2025-07-15T18:40:55+0000
                        last_modified_at: 2025-07-15T18:40:55+0000
                        group: 696
                      description: Debit Memo Line
                      amount: 1000.01
                      created_at: 2025-07-25T21:50:15+0000
                      last_modified_at: 2025-07-25T21:50:15+0000
                      account: 2613
                      department: 365
                    payments: []
                    total_amount: 1000.01
                    amount_used: 0
                    amount_remaining: 1000.01
                    entity_name: Top Level
                    entity_currency: USD
                    vendor_name: ABC Bead Supply
                    debit_account_name: 5230 - Cloud Credits
                    attachments: []
                    debit_memo_number: DM-0000005
                    voided_date: null
                    ref_number: null
                    debit_memo_date: '2025-07-01'
                    applied_date: null
                    message_on_debit_memo: Debit Memo Message
                    application_status: open
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    created_at: 2025-07-25T21:50:15+0000
                    last_modified_at: 2025-07-25T21:50:15+0000
                    customer: 2
                    entity: 54
                    vendor: 34182
                    debit_account: 41905
                    journal_entry: 7491954
                    voided_journal_entry: null
                  summary: Create Debit Memo Response
          description: ''
  /coa/api/v1/debit-memo/{debit_memo_id}/mark-used:
    post:
      operationId: coa_api_v1_debit_memo_mark_used_create
      description: 'Mark a debit memo as used by linking to an existing credit-side transaction.


        The transaction''s credit amount will be recategorized to A/P to clear the debit memo.

        The debit memo''s status will be updated to "used" or "partially_used" based on

        the amount applied vs the total amount.'
      summary: Mark Debit Memo as Used
      parameters:
      - in: path
        name: debit_memo_id
        schema:
          type: integer
        description: ID of the debit memo to mark as used
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkDebitMemoUsed'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MarkDebitMemoUsed'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MarkDebitMemoUsed'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Debit memo marked as used successfully
          description: ''
  /coa/api/v1/debit-memo/{debit_memo_id}/payment/{payment_id}/void:
    post:
      operationId: coa_api_v1_debit_memo_payment_void_create
      description: 'Void a debit memo ''mark used'' payment by creating a reversing journal entry.


        This creates a reversing JE that credits the A/P account and debits Uncategorized,

        then marks the payment as voided.'
      summary: Void Debit Memo Used Payment
      parameters:
      - in: path
        name: debit_memo_id
        schema:
          type: integer
        description: ID of the debit memo
        required: true
      - in: path
        name: payment_id
        schema:
          type: integer
        description: ID of the payment to void
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidPayment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VoidPayment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VoidPayment'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingDebitMemoPayment'
          description: ''
    delete:
      operationId: coa_api_v1_debit_memo_payment_void_destroy
      description: 'Remove a debit memo ''mark used'' payment application.


        This recategorizes the transaction back to Uncategorized and deletes the payment record.'
      summary: Delete Debit Memo Used Payment
      parameters:
      - in: path
        name: debit_memo_id
        schema:
          type: integer
        description: ID of the debit memo
        required: true
      - in: path
        name: payment_id
        schema:
          type: integer
        description: ID of the payment to delete
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /coa/api/v1/debit-memo/{debit_memo_id}/reopen/:
    post:
      operationId: coa_api_v1_debit_memo_reopen_create
      description: 'Reopen a voided debit memo.


        This removes the void date and void journal entry, and sets the debit memo status back to open.

        The voiding journal entry will be deleted to reverse the void operation.'
      summary: Reopen Voided Debit Memo
      parameters:
      - in: path
        name: debit_memo_id
        schema:
          type: integer
        description: ID of the voided debit memo to reopen
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingDebitMemo'
          description: ''
  /coa/api/v1/debit-memo/{debit_memo_id}/void/:
    post:
      operationId: coa_api_v1_debit_memo_void_create
      description: 'Void an existing debit memo.


        This creates a reversing journal entry to void the debit memo by reversing all debit and credit amounts.

        The debit memo status will be updated to reflect the void.'
      summary: Void Debit Memo
      parameters:
      - in: path
        name: debit_memo_id
        schema:
          type: integer
        description: ID of the debit memo to void
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidDebitMemoRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VoidDebitMemoRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VoidDebitMemoRequest'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingDebitMemo'
          description: ''
  /coa/api/v1/debit-memo/{id}:
    get:
      operationId: coa_api_v1_debit_memo_retrieve
      description: 'Retrieves a single accounting debit memo with complete details including line items,

        payments, and accounting relationships.'
      summary: Retrieve Debit Memo
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingDebitMemo'
              examples:
                DebitMemoDetailsResponse:
                  value:
                    id: 343
                    lines:
                    - id: 409
                      account_number: '6500'
                      account_name: 6500 - Travel Expenses
                      department_name: Customer Support
                      tags:
                      - id: 8344
                        group_name: Fund
                        parent_name: null
                        parent: null
                        name: Fund 1
                        created_at: 2025-07-15T18:40:55+0000
                        last_modified_at: 2025-07-15T18:40:55+0000
                        group: 696
                      description: Debit Memo Line
                      amount: 1000.01
                      created_at: 2025-07-25T21:50:15+0000
                      last_modified_at: 2025-07-25T21:50:15+0000
                      account: 2613
                      department: 365
                    payments:
                    - id: 456
                      payment_journal_entry: 7495834
                      payment_journal_entry_order: JE-0007825
                      payment_transaction: 19485764
                      amount: 500.0
                      payment_date: '2025-07-15'
                      created_at: 2025-07-15T14:30:22+0000
                      last_modified_at: 2025-07-15T14:30:22+0000
                      voided_date: null
                      voided_journal_entry: null
                      bill:
                        id: 47893
                        bill_number: BILL-0000513
                    total_amount: 1000.01
                    amount_used: 500.0
                    amount_remaining: 500.01
                    entity_name: Top Level
                    entity_currency: USD
                    vendor_name: ABC Bead Supply
                    debit_account_name: 5230 - Cloud Credits
                    attachments:
                    - id: 15644
                      name: debit_memo_supporting_docs.pdf
                      file_size: 245760
                      content_type: application/pdf
                      created_at: 2025-07-01T10:15:33+0000
                      last_modified_at: 2025-07-01T10:15:33+0000
                    debit_memo_number: DM-0000005
                    voided_date: null
                    ref_number: REF-2025-0088
                    debit_memo_date: '2025-07-01'
                    applied_date: '2025-07-15'
                    message_on_debit_memo: Debit Memo Message
                    application_status: partially_used
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    created_at: 2025-07-25T21:50:15+0000
                    last_modified_at: 2025-07-15T14:30:22+0000
                    customer: 2
                    entity: 54
                    vendor: 34182
                    debit_account: 41905
                    journal_entry: 7491954
                    voided_journal_entry: null
                  summary: Debit Memo Details Response
          description: ''
    put:
      operationId: coa_api_v1_debit_memo_update
      description: 'Performs a complete update of an existing accounting debit memo using PUT semantics.


        This endpoint allows full replacement of debit memo data including line items

        and journal entry recalculation.'
      summary: Update Debit Memo
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingDebitMemo'
            examples:
              UpdateDebitMemoRequest:
                value:
                  lines:
                  - tags:
                    - id: '8344'
                      name: Fund 1
                      group: 696
                    account: '2613'
                    account_name: 6500 - Travel Expenses
                    description: Updated debit memo line
                    amount: 1500.0
                    department: '365'
                    department_name: Customer Support
                  entity: '54'
                  entity_name: Top Level
                  entity_currency: USD
                  currency: USD
                  vendor: '34182'
                  vendor_name: ABC Bead Supply
                  debit_memo_date: '2025-07-01'
                  exchange_rate_book: 1
                  exchange_rate: 1
                  debit_account: '41905'
                  debit_account_name: 5230 - Cloud Credits
                  message_on_debit_memo: Updated debit memo message
                summary: Update Debit Memo Request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccountingDebitMemo'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccountingDebitMemo'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingDebitMemo'
          description: ''
    patch:
      operationId: coa_api_v1_debit_memo_partial_update
      description: 'Performs a partial update of an existing accounting debit memo using PATCH semantics.


        This endpoint allows selective modification of debit memo fields without requiring

        a complete replacement.'
      summary: Partial Update Debit Memo
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedAccountingDebitMemo'
            examples:
              UpdateDebitMemoAmount:
                value:
                  message_on_debit_memo: Updated message for debit memo
                summary: Update Debit Memo Amount
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedAccountingDebitMemo'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedAccountingDebitMemo'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingDebitMemo'
          description: ''
    delete:
      operationId: coa_api_v1_debit_memo_destroy
      summary: Delete Debit Memo
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /coa/api/v1/debit-memo/bulk-search:
    post:
      operationId: coa_api_v1_debit_memo_bulk_search_create
      description: Search for thousands of debit memos by exact debit memo number match in a single request. Optimized for performance.
      summary: Bulk Search Debit Memos by Number
      tags:
      - Accounts Payable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDebitMemoSearch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BulkDebitMemoSearch'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BulkDebitMemoSearch'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
                description: Unspecified response body
          description: ''
  /coa/api/v1/debit-memo/next-debit-memo-number:
    get:
      operationId: coa_api_v1_debit_memo_next_debit_memo_number_retrieve
      summary: Get Next Debit Memo Number
      tags:
      - Accounts Payable
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
components:
  schemas:
    VoidDebitMemoRequest:
      type: object
      properties:
        void_date:
          type: string
          format: date
      required:
      - void_date
    BlankEnum:
      enum:
      - ''
    MarkPaidCreditMemo:
      type: object
      properties:
        credit_memo_id:
          type: integer
        amount:
          type: number
          format: double
          exclusiveMinimum: -1000000000000000000
          exclusiveMaximum: 1000000000000000000
        posted_at:
          type: string
          format: date
      required:
      - amount
      - credit_memo_id
      - posted_at
    AccountingBillPayment:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        payment_transaction_bank_description:
          type: string
          readOnly: true
        payment_journal_entry_order:
          type: string
          readOnly: true
        voided_journal_entry_order:
          type: string
          readOnly: true
        withheld_amount:
          type:
          - number
          - 'null'
          format: double
          description: 'Tax withheld on this payment (AP): sum of the payment''s withholding credit legs.


            Reads the ``bill_withheld_by_je`` map that ``AccountingBillSerializer`` populated from

            prefetched records, so no per-payment query runs. Void reversals live on a different

            journal, so they are naturally excluded.'
          readOnly: true
        currency:
          type: string
          maxLength: 3
        amount:
          type: number
          format: double
          exclusiveMinimum: -1000000000000000000
          exclusiveMaximum: 1000000000000000000
        payment_date:
          type:
          - string
          - 'null'
          format: date
        source:
          type:
          - string
          - 'null'
          maxLength: 250
        source_id:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          readOnly: true
        voided_date:
          type:
          - string
          - 'null'
          format: date
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
        customer:
          type: integer
          readOnly: true
        bill:
          type: integer
        payment_journal_entry:
          type: integer
        payment_transaction:
          type:
          - integer
          - 'null'
        voided_journal_entry:
          type:
          - integer
          - 'null'
      required:
      - bill
      - created_at
      - customer
      - id
      - last_modified_at
      - payment_journal_entry
      - payment_journal_entry_order
      - payment_transaction_bank_description
      - voided_journal_entry_order
      - withheld_amount
    VoidPayment:
      type: object
      properties:
        void_date:
          type:
          - string
          - 'null'
          format: date
    BillDraftRead:
      type: object
      description: Full BillDraft read shape — feeds the Drafts tab and detail view.
      properties:
        id:
          type: integer
          readOnly: true
        customer:
          type: integer
          readOnly: true
        entity:
          type:
          - integer
          - 'null'
        source:
          $ref: '#/components/schemas/BillDraftReadSourceEnum'
        source_file:
          type:
          - integer
          - 'null'
        sender_email:
          type:
          - string
          - 'null'
        recipient_alias:
          type:
          - string
          - 'null'
        email_subject:
          type:
          - string
          - 'null'
        status:
          allOf:
          - $ref: '#/components/schemas/BillDraftReadStatusEnum'
          readOnly: true
        parse_error:
          type:
          - string
          - 'null'
        extracted_vendor_name:
          type:
          - string
          - 'null'
        extracted_bill_number:
          type:
          - string
          - 'null'
        extracted_bill_date:
          type:
          - string
          - 'null'
          format: date
        extracted_due_date:
          type:
          - string
          - 'null'
          format: date
        extracted_currency:
          type:
          - string
          - 'null'
          maxLength: 3
        extracted_total_amount:
          type:
          - number
          - 'null'
          format: double
          exclusiveMinimum: -100000000000000
          exclusiveMaximum: 100000000000000
        extracted_line_items: {}
        field_confidence: {}
        resolved_vendor:
          type:
          - integer
          - 'null'
        dedup_hash:
          type:
          - string
          - 'null'
          readOnly: true
        promoted_bill:
          type:
          - integer
          - 'null'
          readOnly: true
        discard_reason:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          readOnly: true
        created_by:
          type:
          - integer
          - 'null'
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - created_at
      - created_by
      - customer
      - dedup_hash
      - id
      - last_modified_at
      - promoted_bill
      - source
      - status
    BillPaymentSync:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        bill_id:
          type: integer
          readOnly: true
        bill_number:
          type: string
          readOnly: true
        amount:
          type: number
          format: double
          readOnly: true
          exclusiveMinimum: -1000000000000000000
          exclusiveMaximum: 1000000000000000000
        currency:
          type: string
          readOnly: true
        payment_date:
          type:
          - string
          - 'null'
          format: date
          readOnly: true
        source:
          type:
          - string
          - 'null'
          readOnly: true
        source_id:
          type:
          - string
          - 'null'
          readOnly: true
        voided_date:
          type:
          - string
          - 'null'
          format: date
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - amount
      - bill_id
      - bill_number
      - created_at
      - currency
      - id
      - last_modified_at
      - payment_date
      - source
      - source_id
      - voided_date
    BillTypeEnum:
      enum:
      - BILL
      - PAYROLL
      - REIMBURSEMENT
      type: string
      description: '* `BILL` - Bill

        * `PAYROLL` - Payroll

        * `REIMBURSEMENT` - Reimbursement'
    BulkBill:
      type: object
      properties:
        bill_number:
          type: string
      required:
      - bill_number
    AccountingBillPaymentStatusEnum:
      enum:
      - partial
      - open
      - paid
      - payment_not_found
      - payment_pending
      - voided
      type: string
      description: '* `partial` - Partially Paid

        * `open` - Open

        * `paid` - Paid

        * `payment_not_found` - Payment Not Found

        * `payment_pending` - Payment Pending

        * `voided` - Voided'
    File:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        customer:
          type: integer
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        created_by:
          type:
          - integer
          - 'null'
          readOnly: true
        created_by_name:
          type: string
          readOnly: true
        created_by_email:
          type: string
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
        name:
          type: string
        url:
          type: string
          readOnly: true
        s3_content_type:
          type:
          - string
          - 'null'
        s3_content_length:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: 0
        s3_path:
          type: string
        object_id:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: 0
        app:
          type: string
          readOnly: true
        model:
          type: string
          readOnly: true
        is_deleted:
          type: boolean
          readOnly: true
          default: false
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
      required:
      - app
      - created_at
      - created_by
      - created_by_email
      - created_by_name
      - customer
      - deleted_at
      - id
      - is_deleted
      - last_modified_at
      - model
      - name
      - s3_path
      - url
    TaxBehaviorEnum:
      enum:
      - inclusive
      - exclusive
      type: string
      description: '* `inclusive` - Inclusive

        * `exclusive` - Exclusive'
    BulkBillSearch:
      type: object
      properties:
        bills:
          type: array
          items:
            $ref: '#/components/schemas/BulkBill'
          maxItems: 10000
          minItems: 1
      required:
      - bills
    NullEnum:
      enum:
      - null
    AccountingBill:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        lines:
          type: array
          items:
            $ref: '#/components/schemas/AccountingBillLine'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/AccountingBillPayment'
          readOnly: true
        payment_journal_entries:
          type: array
          items:
            type: integer
          readOnly: true
        status:
          type: string
          readOnly: true
        past_due_days:
          type:
          - integer
          - 'null'
          readOnly: true
        entity_name:
          type: string
          readOnly: true
        entity_currency:
          type: string
          readOnly: true
        vendor_name:
          type: string
          readOnly: true
        ap_account_name:
          type:
          - string
          - 'null'
          description: Return AP account name with number in 'number - name' format, similar to name_and_number.
          readOnly: true
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/File'
          readOnly: true
        total_amount:
          type: number
          format: double
          readOnly: true
          exclusiveMinimum: -1000000000000000000
          exclusiveMaximum: 1000000000000000000
        amount_due:
          type: number
          format: double
          readOnly: true
        amount_paid:
          type: number
          format: double
          readOnly: true
          exclusiveMinimum: -1000000000000000000
          exclusiveMaximum: 1000000000000000000
        item_date:
          type:
          - string
          - 'null'
          format: date
        migrated_journal_id:
          type:
          - integer
          - 'null'
          writeOnly: true
        voided_date:
          type: string
          format: date
          readOnly: true
        voided_journal_entry_order:
          type: string
          readOnly: true
        amortizations:
          type: string
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
        ramp_use_sandbox:
          type: string
          readOnly: true
        navan_region:
          type:
          - string
          - 'null'
          description: 'Navan data region (``US``/``EU``) for a Navan-sourced bill, else ``None``.


            Mirrors ``ramp_use_sandbox``: the frontend builds the "Open in Navan" deep

            link from ``source_id`` and uses this to pick the web-app host

            (US -> app.navan.com, EU -> app-fra.navan.com). Navan bills carry no FK to

            their connection, so the region is resolved per customer and memoized to

            avoid an N+1 lookup across a bill list.'
          readOnly: true
        zip_metadata:
          type: string
          readOnly: true
        is_deleted:
          type: boolean
          readOnly: true
          default: false
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        payment_term_name:
          type: string
          readOnly: true
        chat_uuid:
          type: string
          format: uuid
          writeOnly: true
        withholding_info:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: 'Withholding context for the bill''s entity (AP side).


            ``estimated_withholding_amount`` covers only the remaining amount due (null once

            fully paid); ``withheld_to_date`` is the signed sum of posted withholding (AP legs

            are credits, reversals debits), so actuals replace the estimate as payments post.

            Certificate-based schemes estimate from the vendor certificate''s rate valid today

            (falling back to the scheme default).'
          readOnly: true
        search_vector:
          type:
          - string
          - 'null'
          readOnly: true
        search_text:
          type:
          - string
          - 'null'
          readOnly: true
        mailing_address:
          type:
          - string
          - 'null'
        terms:
          oneOf:
          - $ref: '#/components/schemas/TermsEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        bill_number:
          type: string
          maxLength: 120
        bill_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        paid_date:
          type:
          - string
          - 'null'
          format: date
        message_on_bill:
          type:
          - string
          - 'null'
        ita_allocation_number:
          type:
          - string
          - 'null'
          pattern: ^\d{9}$
          maxLength: 9
        ita_bill_type:
          description: 'Israel tax compliance: bill classification type


            * `other` - Other

            * `equipment` - Equipment'
          oneOf:
          - $ref: '#/components/schemas/ItaBillTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        source_id:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
          maxLength: 250
        source_bill_data: {}
        external_ramp_id:
          type:
          - string
          - 'null'
        payment_status:
          oneOf:
          - $ref: '#/components/schemas/AccountingBillPaymentStatusEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        currency:
          type: string
          maxLength: 3
        exchange_rate:
          type:
          - number
          - 'null'
          format: double
          exclusiveMinimum: -100000000000000
          exclusiveMaximum: 100000000000000
        exchange_rate_book:
          type:
          - number
          - 'null'
          format: double
          exclusiveMinimum: -100000000000000
          exclusiveMaximum: 100000000000000
        created_at:
          type: string
          format: date-time
          readOnly: true
        tax_behavior:
          oneOf:
          - $ref: '#/components/schemas/TaxBehaviorEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        bill_type:
          $ref: '#/components/schemas/BillTypeEnum'
        chat_id:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        customer:
          type: integer
          readOnly: true
        entity:
          type: integer
        vendor:
          type:
          - integer
          - 'null'
        payment_term:
          type:
          - integer
          - 'null'
          description: Payment term for this bill
        journal_entry:
          type:
          - integer
          - 'null'
        source_file:
          type:
          - integer
          - 'null'
        tax_rate:
          type:
          - integer
          - 'null'
        ap_account:
          type:
          - integer
          - 'null'
          description: Accounts Payable account for this bill
        voided_journal_entry:
          type:
          - integer
          - 'null'
      required:
      - amortizations
      - amount_due
      - amount_paid
      - ap_account_name
      - attachments
      - bill_date
      - bill_number
      - created_at
      - customer
      - deleted_at
      - due_date
      - entity
      - entity_currency
      - entity_name
      - id
      - is_deleted
      - last_modified_at
      - lines
      - navan_region
      - past_due_days
      - payment_journal_entries
      - payment_term_name
      - payments
      - ramp_use_sandbox
      - search_text
      - search_vector
      - status
      - total_amount
      - vendor
      - vendor_name
      - voided_date
      - voided_journal_entry_order
      - withholding_info
      - zip_metadata
    AmortizationSchedule:
      type: object
      properties:
        id:
          type: integer
        amortization:
          type: integer
          writeOnly: true
        accounting_amortization:
          type: integer
          writeOnly: true
        journal_entry_order:
          type: string
          readOnly: true
        date:
          type: string
          format: date
        amount:
          type: number
          format: double
          exclusiveMinimum: -1000000000000000000
          exclusiveMaximum: 1000000000000000000
        posted:
          type: boolean
        customer:
          type: integer
          readOnly: true
        transaction:
          type:
          - integer
          - 'null'
        bill_line:
          type:
          - integer
          - 'null'
        journal_entry:
          type:
          - integer
          - 'null'
      required:
      - amount
      - customer
      - date
      - journal_entry_order
    MarkPaidTransaction:
      type: object
      properties:
        transaction_match_id:
          type:
          - integer
          - 'null'
        transaction_id:
          type:
          - integer
          - 'null'
        transaction_ids:
          type:
          - array
          - 'null'
          items:
            type: integer
        account_id:
          type:
          - integer
          - 'null'
        amount:
          type: number
          format: double
          exclusiveMinimum: -1000000000000000000
          exclusiveMaximum: 1000000000000000000
        amount_payable:
          type:
          - number
          - 'null'
          format: double
          exclusiveMinimum: -1000000000000000000
          exclusiveMaximum: 1000000000000000000
        credit_account_id:
          type:
          - integer
          - 'null'
        writeoff_account_id:
          type:
          - integer
          - 'null'
        withholding_amount:
          type:
          - number
          - 'null'
          format: double
          exclusiveMinimum: -1000000000000000000
          exclusiveMaximum: 1000000000000000000
        withholding_tax_rate_id:
          type:
          - integer
          - 'null'
      required:
      - amount
    BillDraftReadStatusEnum:
      enum:
      - parsing
      - parse_failed
      - not_a_bill
      - needs_review
      - unassigned
      - ready
      - promoted
      - discarded
      type: string
      description: '* `parsing` - Parsing

        * `parse_failed` - Parse Failed

        * `not_a_bill` - Not a Bill

        * `needs_review` - Needs Review

        * `unassigned` - Unassigned

        * `ready` - Ready

        * `promoted` - Promoted

        * `discarded` - Discarded'
    PatchedAccountingBill:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        lines:
          type: array
          items:
            $ref: '#/components/schemas/AccountingBillLine'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/AccountingBillPayment'
          readOnly: true
        payment_journal_entries:
          type: array
          items:
[...]
