openapi: 3.0.3
info:
  title: Campfire Developer APIs Accounts Payable Core Accounting API
  version: 1.0.0
  description: '## Introduction

    Campfire''s developer APIs offer granular access to Campfire''s core accounting,

    revenue recognition, and financial data features.


    These APIs are designed to be used by developers to build custom integrations,

    automate workflows, and perform any other programmatic operations.

    '
servers:
- url: https://api.meetcampfire.com
  description: Production server
tags:
- name: Core Accounting
  description: Operations related to core accounting data, such as the chart of accounts, entity management, and the general ledger.
paths:
  /coa/api/budgets:
    get:
      operationId: coa_api_budgets_list
      description: "\n        Retrieve a list of budgets with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Budgets
      parameters:
      - in: query
        name: entity
        schema:
          type: integer
        description: Filter by entity ID
      - in: query
        name: entity_name
        schema:
          type: string
        description: Filter by entity name (partial match)
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: q
        schema:
          type: string
        description: Search query - searches by budget name
      - in: query
        name: sort
        schema:
          type: string
          default: name
        description: 'Sort order. Use field name for ascending, -field for descending. Supports multiple fields separated by comma. Default: name'
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBudgetList'
          description: ''
      x-mint:
        mcp:
          enabled: true
          name: get_budgets
          description: Retrieve budget information with optional filtering
    post:
      operationId: coa_api_budgets_create
      description: 'Complete mixin for history filtering with pagination support.

        Returns either active OR deleted records based on include_deleted parameter.'
      summary: Create Budget
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Budget'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Budget'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: ''
  /coa/api/budgets/{budget_pk}/accounts:
    get:
      operationId: coa_api_budgets_accounts_list
      description: "\n        Retrieve a list of budget accounts with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Budget Accounts
      parameters:
      - in: path
        name: budget_pk
        schema:
          type: integer
        required: true
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BudgetAccount'
          description: ''
    post:
      operationId: coa_api_budgets_accounts_create
      description: 'Complete mixin for history filtering with pagination support.

        Returns either active OR deleted records based on include_deleted parameter.'
      summary: Create Budget
      parameters:
      - in: path
        name: budget_pk
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetAccount'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BudgetAccount'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BudgetAccount'
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAccount'
          description: ''
  /coa/api/budgets/{budget_pk}/accounts/{id}:
    get:
      operationId: coa_api_budgets_accounts_retrieve
      summary: Retrieve Budget Account
      parameters:
      - in: path
        name: budget_pk
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAccount'
          description: ''
    put:
      operationId: coa_api_budgets_accounts_update
      summary: Update Budget Account
      parameters:
      - in: path
        name: budget_pk
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetAccount'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BudgetAccount'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BudgetAccount'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAccount'
          description: ''
    patch:
      operationId: coa_api_budgets_accounts_partial_update
      summary: Partial Update Budget Account
      parameters:
      - in: path
        name: budget_pk
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedBudgetAccount'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedBudgetAccount'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedBudgetAccount'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAccount'
          description: ''
    delete:
      operationId: coa_api_budgets_accounts_destroy
      summary: Delete Budget Account
      parameters:
      - in: path
        name: budget_pk
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /coa/api/budgets/{id}:
    get:
      operationId: coa_api_budgets_retrieve
      summary: Retrieve Budget
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: ''
    put:
      operationId: coa_api_budgets_update
      summary: Update Budget
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Budget'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Budget'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: ''
    patch:
      operationId: coa_api_budgets_partial_update
      summary: Partial Update Budget
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedBudget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedBudget'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedBudget'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: ''
    delete:
      operationId: coa_api_budgets_destroy
      summary: Delete Budget
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /coa/api/department/bulk-search:
    post:
      operationId: coa_api_department_bulk_search_create
      description: Search for thousands of departments by exact name match in a single request. Optimized for performance. Supports upsert to create missing departments.
      summary: Bulk Search Departments by Name
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDepartmentSearch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BulkDepartmentSearch'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BulkDepartmentSearch'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Department'
          description: ''
  /coa/api/fixed-asset:
    get:
      operationId: coa_api_fixed_asset_list
      description: "\n        Retrieve a list of fixed assets with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Fixed Assets
      parameters:
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFixedAssetList'
          description: ''
    post:
      operationId: coa_api_fixed_asset_create
      description: "Wraps ``CreateModelMixin.create`` (or any method named ``create``) with\n``Idempotency-Key`` handling.\n\nPlace this mixin **before** the view's other base classes so its ``create``\noverrides the inherited one::\n\n    class JournalEntryListCreate(\n        IdempotentCreateMixin,\n        HistoryFilteringMixin,\n        ListCreateAPIView,\n    ):\n        ..."
      summary: Create Fixed Asset
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FixedAsset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FixedAsset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FixedAsset'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAsset'
          description: ''
  /coa/api/fixed-asset-automation/:
    get:
      operationId: list_fixed_asset_automations
      description: 'List all automation rules or create a new one.

        GET /api/fixed-asset-automation/

        POST /api/fixed-asset-automation/'
      summary: List Fixed Asset Automations
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFixedAssetAutomationRuleList'
          description: ''
    post:
      operationId: create_fixed_asset_automation
      description: 'List all automation rules or create a new one.

        GET /api/fixed-asset-automation/

        POST /api/fixed-asset-automation/'
      summary: Create Fixed Asset Automation
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FixedAssetAutomationRule'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FixedAssetAutomationRule'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FixedAssetAutomationRule'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetAutomationRule'
          description: ''
  /coa/api/fixed-asset-automation-match/{id}/:
    get:
      operationId: get_fixed_asset_automation_match
      description: 'Retrieve or update an automation match (for editing proposed values before acceptance).

        GET/PATCH /api/fixed-asset-automation-match/<id>/'
      summary: Retrieve Fixed Asset Automation Match
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetAutomationMatch'
          description: ''
    put:
      operationId: update_fixed_asset_automation_match
      description: 'Retrieve or update an automation match (for editing proposed values before acceptance).

        GET/PATCH /api/fixed-asset-automation-match/<id>/'
      summary: Update Fixed Asset Automation Match
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FixedAssetAutomationMatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FixedAssetAutomationMatch'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FixedAssetAutomationMatch'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetAutomationMatch'
          description: ''
    patch:
      operationId: partial_update_fixed_asset_automation_match
      description: 'Retrieve or update an automation match (for editing proposed values before acceptance).

        GET/PATCH /api/fixed-asset-automation-match/<id>/'
      summary: Partial Update Fixed Asset Automation Match
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedFixedAssetAutomationMatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedFixedAssetAutomationMatch'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedFixedAssetAutomationMatch'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetAutomationMatch'
          description: ''
  /coa/api/fixed-asset-automation/{id}/:
    get:
      operationId: get_fixed_asset_automation
      description: 'Retrieve, update, or delete an automation rule.

        GET/PUT/PATCH/DELETE /api/fixed-asset-automation/<id>/'
      summary: Retrieve Fixed Asset Automation
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetAutomationRule'
          description: ''
    put:
      operationId: update_fixed_asset_automation
      description: 'Retrieve, update, or delete an automation rule.

        GET/PUT/PATCH/DELETE /api/fixed-asset-automation/<id>/'
      summary: Update Fixed Asset Automation
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FixedAssetAutomationRule'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FixedAssetAutomationRule'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FixedAssetAutomationRule'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetAutomationRule'
          description: ''
    patch:
      operationId: partial_update_fixed_asset_automation
      description: 'Retrieve, update, or delete an automation rule.

        GET/PUT/PATCH/DELETE /api/fixed-asset-automation/<id>/'
      summary: Partial Update Fixed Asset Automation
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedFixedAssetAutomationRule'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedFixedAssetAutomationRule'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedFixedAssetAutomationRule'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetAutomationRule'
          description: ''
    delete:
      operationId: delete_fixed_asset_automation
      description: 'Retrieve, update, or delete an automation rule.

        GET/PUT/PATCH/DELETE /api/fixed-asset-automation/<id>/'
      summary: Delete Fixed Asset Automation
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /coa/api/fixed-asset-automation/accounts:
    get:
      operationId: list_fixed_asset_automation_accounts
      description: 'List accounts that are of type FIXED_ASSET for use in automation rule creation.

        GET /api/fixed-asset-automation/accounts


        This endpoint returns only accounts with account_subtype=''FIXED_ASSET'' to ensure

        automation rules are created with appropriate accounts.'
      summary: List Fixed Asset Automation Accounts
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /coa/api/fixed-asset-automation/asset-classes:
    get:
      operationId: list_fixed_asset_automation_asset_classes
      description: 'List fixed asset classes that match a specific account.

        GET /api/fixed-asset-automation/asset-classes?account_id=<id>


        Filters asset classes to only those where asset_account matches the provided account_id.

        This ensures users can only select compatible asset classes for the chosen account.'
      summary: List Fixed Asset Automation Asset Classes
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /coa/api/fixed-asset-automation/matches:
    get:
      operationId: list_fixed_asset_automation_matches
      description: 'List pending asset matches for review.

        GET /api/fixed-asset-automation/matches'
      summary: List Fixed Asset Automation Matches
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFixedAssetAutomationMatchList'
          description: ''
  /coa/api/fixed-asset-automation/run:
    post:
      operationId: run_fixed_asset_automation
      description: 'Trigger automation processing.

        POST /api/fixed-asset-automation/run


        Optional body: {"rule_id": 123}'
      summary: Run Fixed Asset Automation
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /coa/api/fixed-asset/{id}:
    get:
      operationId: coa_api_fixed_asset_retrieve
      summary: Retrieve Fixed Asset
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAsset'
          description: ''
    put:
      operationId: coa_api_fixed_asset_update
      summary: Update Fixed Asset
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FixedAsset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FixedAsset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FixedAsset'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAsset'
          description: ''
    patch:
      operationId: coa_api_fixed_asset_partial_update
      summary: Partial Update Fixed Asset
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedFixedAsset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedFixedAsset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedFixedAsset'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAsset'
          description: ''
    delete:
      operationId: coa_api_fixed_asset_destroy
      summary: Delete Fixed Asset
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /coa/api/fixed-asset/reconciliation/unmatched-gl:
    get:
      operationId: list_fixed_asset_reconciliation_unmatched_gl
      description: 'Drilldown showing GL transactions NOT linked to any fixed asset.


        Returns the journal entries on a control account that cannot be traced

        back to a specific asset''s purchase, depreciation, or disposal entries.

        These are the transactions that make up the "Unmatched GL" amount in

        the reconciliation report.'
      summary: List Unmatched GL Transactions for Fixed Asset Reconciliation
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /coa/api/intercompany-journal-entry:
    get:
      operationId: coa_api_intercompany_journal_entry_list
      description: "\n        Retrieves a paginated list of intercompany journal entries for the authenticated user's customer.\n\n        This endpoint returns:\n        - Summary information for each intercompany journal entry\n        - Basic transaction details (simplified view for list performance)\n        - Entity and exchange rate information\n        - Pagination metadata (count, next, previous)\n        - Reversal relationships and attachment counts\n\n        The response includes:\n        - Intercompany journal entry metadata\n        - Associated transaction summaries\n        - Exchange rate information for currency conversions\n        - Links to related reversals\n        - Attachment information\n\n        Results can be sorted using the 'sort' query parameter with field names like 'date', 'id', etc.\n        Prefix with '-' for descending order (e.g., '-date').\n        "
      summary: List Intercompany Journal Entries
      parameters:
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIntercompanyJournalEntryList'
              examples:
                ListIntercompanyJournalEntriesResponse:
                  value:
                    count: 123
                    next: http://api.example.org/accounts/?offset=400&limit=100
                    previous: http://api.example.org/accounts/?offset=200&limit=100
                    results:
                    - count: 1
                      next: null
                      previous: null
                      results:
                      - id: 331
                        attachments: []
                        reversals:
                        - id: 332
                          order: '0004361'
                        order: '0004360'
                        type: journal_entry
                        journal_id: bf3fb423-12a9-47cb-9dca-18e6b9d8296b
                        memo: Example Inter-company Journal
                        currency: USD
                        created_automatically: false
                        date: '2025-07-25'
                        ref_number: null
                        created_at: 2025-07-25T03:45:59+0000
                        last_modified_at: 2025-07-25T03:45:59+0000
                        reversal_of: null
                        transactions:
                        - id: 24429466
                          entity_name: Top Level
                          entity_currency: USD
                          account_name: 1000 - Cash and Cash Equivalents
                          account_number: '1000'
                          debit_amount: 9876.54
                          credit_amount: null
                          bank_description: 'Example Inter-company Journal '
                          account: 180564
                          entity: 54
                        - id: 24429467
                          entity_name: Top Level
                          entity_currency: USD
                          account_name: 1900 - Intercompany Accounts Receivable
                          account_number: '1900'
                          debit_amount: null
                          credit_amount: 9876.54
                          bank_description: 'Example Inter-company Journal '
                          account: 14239
                          entity: 54
                        - id: 24429470
                          entity_name: Eliminations
                          entity_currency: USD
                          account_name: 1014 - JPMC Cash
                          account_number: '1014'
                          debit_amount: null
                          credit_amount: 9876.54
                          bank_description: 'Example Inter-company Journal '
                          account: 8855
                          entity: 55
                        - id: 24429471
                          entity_name: Eliminations
                          entity_currency: USD
                          account_name: 2020 - Intercompany Accounts Payable
                          account_number: '2020'
                          debit_amount: 9876.54
                          credit_amount: null
                          bank_description: 'Example Inter-company Journal '
                          account: 14240
                          entity: 55
                        exchange_rates:
                        - entity: 54
                          entity_name: Top Level
                          originating_currency: USD
                          target_currency: USD
                          exchange_rate: 1.0
                        - entity: 55
                          entity_name: Eliminations
                          originating_currency: USD
                          target_currency: USD
                          exchange_rate: 1.0
                  summary: Paginated list of intercompany journal entries
                  description: Example response showing a list of intercompany journal entries with pagination metadata and summary transaction information
          description: ''
    post:
      operationId: coa_api_intercompany_journal_entry_create
      description: "\n        Creates a new intercompany journal entry\n\n        This endpoint allows for complex multi-entity transactions where:\n        - Transactions are balanced across different entities\n        - Exchange rates are handled for multi-currency transactions\n\n        Key requirements:\n        - Total debits must equal total credits for each entity (debit_amount_native must equal credit_amount_native)\n        - Cannot create entries before closed book dates\n        - All referenced accounts must be active\n        - Exchange rates must be provided for all currency conversions (native to book, book to consolidation)\n        "
      summary: Create Intercompany Journal Entry
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntercompanyJournalEntry'
            examples:
              IntercompanyJournalEntryRequest:
                value:
                  date: '2025-07-25'
                  type: journal_entry
                  transactions:
                  - entity: 54
                    entity_name: Top Level
                    account: '180564'
                    account_name: 1000 - Cash and Cash Equivalents
                    debit_amount_native: 9876.54
                    debit_amount_book: 9876.54
                    debit_amount: 9876.54
                    bank_description: 'Example Inter-company Journal '
                    vendor: '34182'
                    vendor_name: ABC Bead Supply
                    department: '364'
                    department_name: Executive
                    tags:
                    - id: '8304'
                      name: North America
                      group: 669
                  - entity: 55
                    entity_name: Eliminations
                    account: '8855'
                    account_name: 1014 - JPMC Cash
                    credit_amount_native: 9876.54
                    credit_amount_book: 9876.54
                    credit_amount: 9876.54
                    bank_description: 'Example Inter-company Journal '
                  - entity: 54
                    entity_name: Top Level
                    tags: []
                    credit_amount_native: 9876.54
                    credit_amount_book: 9876.54
                    credit_amount: 9876.54
                    account: '14239'
                    account_name: 1900 - Intercompany Accounts Receivable
                    bank_description: 'Example Inter-company Journal '
                  - entity: 55
                    entity_name: Eliminations
                    tags: []
                    debit_amount_native: 9876.54
                    debit_amount_book: 9876.54
                    debit_amount: 9876.54
                    account: '14240'
                    account_name: 2020 - Intercompany Accounts Payable
                    bank_description: 'Example Inter-company Journal '
                  memo: 'Example Inter-company Journal '
                  currency: USD
                  reversal_date: '2025-08-01'
                  exchange_rates:
                  - entity: 54
                    entity_name: Top Level
                    originating_currency: USD
                    target_currency: USD
                    exchange_rate: 1.0
                  - entity: 55
                    entity_name: Eliminations
                    originating_currency: USD
                    target_currency: USD
                    exchange_rate: 1.0
                summary: Standard intercompany journal entry with multiple entities
                description: Example of an intercompany journal entry transferring funds between entities with automatic intercompany account reconciliation
              CreateIntercompanyJournalEntryResponse:
                value:
                  id: 331
                  attachments: []
                  reversals:
                  - id: 332
                    order: '0004361'
                  order: '0004360'
                  type: journal_entry
                  journal_id: bf3fb423-12a9-47cb-9dca-18e6b9d8296b
                  memo: Example Inter-company Journal
                  currency: USD
                  created_automatically: false
                  date: '2025-07-25'
                  ref_number: null
                  created_at: 2025-07-25T03:45:59+0000
                  last_modified_at: 2025-07-25T03:45:59+0000
                  reversal_of: null
                  transactions:
                  - id: 24429466
                    entity_name: Top Level
                    entity_currency: USD
                    account_name: 1000 - Cash and Cash Equivalents
                    account_number: '1000'
                    vendor_name: ABC Bead Supply
                    department_name: Executive
                    parent_department_name: General and Administrative
                    parent_department: 108
                    tags:
                    - id: 8304
                      group_name: Region
                      parent_name: null
                      parent: null
                      name: North America
                      created_at: 2025-07-10T20:50:45+0000
                      last_modified_at: 2025-07-10T20:50:45+0000
                      group: 669
                    journal: 7491947
                    journal_order: '0004360'
                    journal_memo: Example Inter-company Journal
                    journal_type: journal_entry
                    intercompany_journal: 331
                    created_automatically: false
                    journal_attachments: []
                    journal_type_name: Journal Entry
                    invoice: null
                    bill: null
                    date_month: '07'
                    date_year: '2025'
                    balance_after_transaction: 9876.54
                    account: 180564
                    last_modified_by_name: Zack Moss
                    account_type: ASSET
                    files: []
                    file_names: []
                    amount: 9876.54
                    amount_native: 9876.54
                    amount_book: 9876.54
                    amortization_schedule: []
                    transaction_id: 393478d2-b523-4b42-bbd1-5952a7fd5eb1
                    debit_amount: 9876.54
                    credit_amount: null
                    debit_amount_book: 9876.54
                    credit_amount_book: null
                    debit_amount_native: 9876.54
                    credit_amount_native: null
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    posted_at: '2025-07-25'
                    merchant_name: null
                    bank_description: 'Example Inter-company Journal '
                    note: null
                    balance_before_transaction: null
                    created_at: 2025-07-25T03:45:59+0000
                    external_id: null
                    needs_review: false
                    last_modified_at: 2025-07-25T03:45:59+0000
                    draft_matches: null
                    entity: 54
                    parent_bank_transaction: null
                    vendor: 34182
                    department: 364
                    last_modified_by: 904
                  - id: 24429467
                    entity_name: Top Level
                    entity_currency: USD
                    account_name: 1900 - Intercompany Accounts Receivable
                    account_number: '1900'
                    tags: []
                    journal: 7491947
                    journal_order: '0004360'
                    journal_memo: Example Inter-company Journal
                    journal_type: journal_entry
                    intercompany_journal: 331
                    created_automatically: false
                    journal_attachments: []
                    journal_type_name: Journal Entry
                    invoice: null
                    bill: null
                    date_month: '07'
                    date_year: '2025'
                    balance_after_transaction: -9876.54
                    account: 14239
                    last_modified_by_name: Zack Moss
                    account_type: ASSET
                    files: []
                    file_names: []
                    amount: 9876.54
                    amount_native: 9876.54
                    amount_book: 9876.54
                    amortization_schedule: []
                    transaction_id: daeefb8c-b548-47dc-8546-cac1e3e745b3
                    debit_amount: null
                    credit_amount: 9876.54
                    debit_amount_book: null
                    credit_amount_book: 9876.54
                    debit_amount_native: null
                    credit_amount_native: 9876.54
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    posted_at: '2025-07-25'
                    merchant_name: null
                    bank_description: 'Example Inter-company Journal '
                    note: null
                    balance_before_transaction: null
                    created_at: 2025-07-25T03:45:59+0000
                    external_id: null
                    needs_review: false
                    last_modified_at: 2025-07-25T03:45:59+0000
                    draft_matches: null
                    entity: 54
                    parent_bank_transaction: null
                    vendor: null
                    department: null
                    last_modified_by: 904
                  - id: 24429470
                    entity_name: Eliminations
                    entity_currency: USD
                    account_name: 1014 - JPMC Cash
                    account_number: '1014'
                    tags: []
                    journal: 7491949
                    journal_order: '0004360'
                    journal_memo: Example Inter-company Journal
                    journal_type: journal_entry
                    intercompany_journal: 331
                    created_automatically: false
                    journal_attachments: []
                    journal_type_name: Journal Entry
                    invoice: null
                    bill: null
                    date_month: '07'
                    date_year: '2025'
                    balance_after_transaction: -9876.54
                    account: 8855
                    last_modified_by_name: Zack Moss
                    account_type: ASSET
                    parent_account_name: Cash and Cash Equivalents
                    files: []
                    file_names: []
                    amount: 9876.54
                    amount_native: 9876.54
                    amount_book: 9876.54
                    amortization_schedule: []
                    transaction_id: 058c8386-3a78-4477-97aa-2fe2427a982a
                    debit_amount: null
                    credit_amount: 9876.54
                    debit_amount_book: null
                    credit_amount_book: 9876.54
                    debit_amount_native: null
                    credit_amount_native: 9876.54
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    posted_at: '2025-07-25'
                    merchant_name: null
                    bank_description: 'Example Inter-company Journal '
                    note: null
                    balance_before_transaction: null
                    created_at: 2025-07-25T03:46:00+0000
                    external_id: null
                    needs_review: false
                    last_modified_at: 2025-07-25T03:46:00+0000
                    draft_matches: null
                    entity: 55
                    parent_bank_transaction: null
                    vendor: null
                    department: null
                    last_modified_by: 904
                  - id: 24429471
                    entity_name: Eliminations
                    entity_currency: USD
                    account_name: 2020 - Intercompany Accounts Payable
                    account_number: '2020'
                    tags: []
                    journal: 7491949
                    journal_order: '0004360'
                    journal_memo: Example Inter-company Journal
                    journal_type: journal_entry
                    intercompany_journal: 331
                    created_automatically: false
                    journal_attachments: []
                    journal_type_name: Journal Entry
                    invoice: null
                    bill: null
                    date_month: '07'
                    date_year: '2025'
                    balance_after_transaction: -9876.54
                    account: 14240
                    last_modified_by_name: Zack Moss
                    account_type: LIABILITY
                    files: []
                    file_names: []
                    amount: 9876.54
                    amount_native: 9876.54
                    amount_book: 9876.54
                    amortization_schedule: []
                    transaction_id: 04e16db2-5df1-4a7d-8d13-be0bad45ccdf
                    debit_amount: 9876.54
                    credit_amount: null
                    debit_amount_book: 9876.54
                    credit_amount_book: null
                    debit_amount_native: 9876.54
                    credit_amount_native: null
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    posted_at: '2025-07-25'
                    merchant_name: null
                    bank_description: 'Example Inter-company Journal '
                    note: null
                    balance_before_transaction: null
                    created_at: 2025-07-25T03:46:00+0000
                    external_id: null
                    needs_review: false
                    last_modified_at: 2025-07-25T03:46:00+0000
                    draft_matches: null
                    entity: 55
                    parent_bank_transaction: null
                    vendor: null
                    department: null
                    last_modified_by: 904
                  exchange_rates:
                  - entity: 54
                    entity_name: Top Level
                    originating_currency: USD
                    target_currency: USD
                    exchange_rate: 1.0
                  - entity: 55
                    entity_name: Eliminations
                    originating_currency: USD
                    target_currency: USD
                    exchange_rate: 1.0
                summary: Response after successfully creating an intercompany journal entry
                description: Example response showing the created intercompany journal entry with generated IDs, timestamps, and detailed transaction information
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IntercompanyJournalEntry'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IntercompanyJournalEntry'
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntercompanyJournalEntry'
              examples:
                CreateIntercompanyJournalEntryResponse:
                  value:
                    id: 331
                    attachments: []
                    reversals:
                    - id: 332
                      order: '0004361'
                    order: '0004360'
                    type: journal_entry
                    journal_id: bf3fb423-12a9-47cb-9dca-18e6b9d8296b
                    memo: Example Inter-company Journal
                    currency: USD
                    created_automatically: false
                    date: '2025-07-25'
                    ref_number: null
                    created_at: 2025-07-25T03:45:59+0000
                    last_modified_at: 2025-07-25T03:45:59+0000
                    reversal_of: null
                    transactions:
                    - id: 24429466
                      entity_name: Top Level
                      entity_currency: USD
                      account_name: 1000 - Cash and Cash Equivalents
                      account_number: '1000'
                      vendor_name: ABC Bead Supply
                      department_name: Executive
                      parent_department_name: General and Administrative
                      parent_department: 108
                      tags:
                      - id: 8304
                        group_name: Region
                        parent_name: null
                        parent: null
                        name: North America
                        created_at: 2025-07-10T20:50:45+0000
                        last_modified_at: 2025-07-10T20:50:45+0000
                        group: 669
                      journal: 7491947
                      journal_order: '0004360'
                      journal_memo: Example Inter-company Journal
                      journal_type: journal_entry
                      intercompany_journal: 331
                      created_automatically: false
                      journal_attachments: []
                      journal_type_name: Journal Entry
                      invoice: null
                      bill: null
                      date_month: '07'
                      date_year: '2025'
                      balance_after_transaction: 9876.54
                      account: 180564
                      last_modified_by_name: Zack Moss
                      account_type: ASSET
                      files: []
                      file_names: []
                      amount: 9876.54
                      amount_native: 9876.54
                      amount_book: 9876.54
                      amortization_schedule: []
                      transaction_id: 393478d2-b523-4b42-bbd1-5952a7fd5eb1
                      debit_amount: 9876.54
                      credit_amount: null
                      debit_amount_book: 9876.54
                      credit_amount_book: null
                      debit_amount_native: 9876.54
                      credit_amount_native: null
                      currency: USD
                      exchange_rate: 1
                      exchange_rate_book: 1
                      posted_at: '2025-07-25'
                      merchant_name: null
                      bank_description: 'Example Inter-company Journal '
                      note: null
                      balance_before_transaction: null
                      created_at: 2025-07-25T03:45:59+0000
                      external_id: null
                      needs_review: false
                      last_modified_at: 2025-07-25T03:45:59+0000
                      draft_matches: null
                      entity: 54
                      parent_bank_transaction: null
                      vendor: 34182
                      department: 364
                      last_modified_by: 904
                    - id: 24429467
                      entity_name: Top Level
                      entity_currency: USD
                      account_name: 1900 - Intercompany Accounts Receivable
                      account_number: '1900'
                      tags: []
                      journal: 7491947
                      journal_order: '0004360'
                      journal_memo: Example Inter-company Journal
                      journal_type: journal_entry
                      intercompany_journal: 331
                      created_automatically: false
                      journal_attachments: []
                      journal_type_name: Journal Entry
                      invoice: null
                      bill: null
                      date_month: '07'
                      date_year: '2025'
                      balance_after_transaction: -9876.54
                      account: 14239
                      last_modified_by_name: Zack Moss
                      account_type: ASSET
                      files: []
                      file_names: []
                      amount: 9876.54
                      amount_native: 9876.54
                      amount_book: 9876.54
                      amortization_schedule: []
                      transaction_id: daeefb8c-b548-47dc-8546-cac1e3e745b3
                      debit_amount: null
                      credit_amount: 9876.54
                      debit_amount_book: null
                      credit_amount_book: 9876.54
                      debit_amount_native: null
                      credit_amount_native: 9876.54
                      currency: USD
                      exchange_rate: 1
                      exchange_rate_book: 1
                      posted_at: '2025-07-25'
                      merchant_name: null
                      bank_description: 'Example Inter-company Journal '
                      note: null
                      balance_before_transaction: null
                      created_at: 2025-07-25T03:45:59+0000
                      external_id: null
                      needs_review: false
                      last_modified_at: 2025-07-25T03:45:59+0000
                      draft_matches: null
                      entity: 54
                      parent_bank_transaction: null
                      vendor: null
                      department: null
                      last_modified_by: 904
                    - id: 24429470
                      entity_name: Eliminations
                      entity_currency: USD
                      account_name: 1014 - JPMC Cash
                      account_number: '1014'
                      tags: []
                      journal: 7491949
                      journal_order: '0004360'
                      journal_memo: Example Inter-company Journal
                      journal_type: journal_entry
                      intercompany_journal: 331
                      created_automatically: false
                      journal_attachments: []
                      journal_type_name: Journal Entry
                      invoice: null
                      bill: null
                      date_month: '07'
                      date_year: '2025'
                      balance_after_transaction: -9876.54
                      account: 8855
                      last_modified_by_name: Zack Moss
                      account_type: ASSET
                      parent_account_name: Cash and Cash Equivalents
                      files: []
                      file_names: []
                      amount: 9876.54
                      amount_native: 9876.54
                      amount_book: 9876.54
                      amortization_schedule: []
                      transaction_id: 058c8386-3a78-4477-97aa-2fe2427a982a
                      debit_amount: null
                      credit_amount: 9876.54
                      debit_amount_book: null
                      credit_amount_book: 9876.54
                      debit_amount_native: null
                      credit_amount_native: 9876.54
                      currency: USD
                      exchange_rate: 1
                      exchange_rate_book: 1
                      posted_at: '2025-07-25'
                      merchant_name: null
                      bank_description: 'Example Inter-company Journal '
                      note: null
                      balance_before_transaction: null
                      created_at: 2025-07-25T03:46:00+0000
                      external_id: null
                      needs_review: false
                      last_modified_at: 2025-07-25T03:46:00+0000
                      draft_matches: null
                      entity: 55
                      parent_bank_transaction: null
                      vendor: null
                      department: null
                      last_modified_by: 904
                    - id: 24429471
                      entity_name: Eliminations
                      entity_currency: USD
                      account_name: 2020 - Intercompany Accounts Payable
                      account_number: '2020'
                      tags: []
                      journal: 7491949
                      journal_order: '0004360'
                      journal_memo: Example Inter-company Journal
                      journal_type: journal_entry
                      intercompany_journal: 331
                      created_automatically: false
                      journal_attachments: []
                      journal_type_name: Journal Entry
                      invoice: null
                      bill: null
                      date_month: '07'
                      date_year: '2025'
                      balance_after_transaction: -9876.54
                      account: 14240
                      last_modified_by_name: Zack Moss
                      account_type: LIABILITY
                      files: []
                      file_names: []
                      amount: 9876.54
                      amount_native: 9876.54
                      amount_book: 9876.54
                      amortization_schedule: []
                      transaction_id: 04e16db2-5df1-4a7d-8d13-be0bad45ccdf
                      debit_amount: 9876.54
                      credit_amount: null
                      debit_amount_book: 9876.54
                      credit_amount_book: null
                      debit_amount_native: 9876.54
                      credit_amount_native: null
                      currency: USD
                      exchange_rate: 1
                      exchange_rate_book: 1
                      posted_at: '2025-07-25'
                      merchant_name: null
                      bank_description: 'Example Inter-company Journal '
                      note: null
                      balance_before_transaction: null
                      created_at: 2025-07-25T03:46:00+0000
                      external_id: null
                      needs_review: false
                      last_modified_at: 2025-07-25T03:46:00+0000
                      draft_matches: null
                      entity: 55
                      parent_bank_transaction: null
                      vendor: null
                      department: null
                      last_modified_by: 904
                    exchange_rates:
                    - entity: 54
                      entity_name: Top Level
                      originating_currency: USD
                      target_currency: USD
                      exchange_rate: 1.0
                    - entity: 55
                      entity_name: Eliminations
                      originating_currency: USD
                      target_currency: USD
                      exchange_rate: 1.0
                  summary: Response after successfully creating an intercompany journal entry
                  description: Example response showing the created intercompany journal entry with generated IDs, timestamps, and detailed transaction information
          description: ''
  /coa/api/intercompany-journal-entry/{id}:
    get:
      operationId: coa_api_intercompany_journal_entry_retrieve
      description: "\n        Retrieves a single intercompany journal entry by its ID with complete details.\n\n        This endpoint returns:\n        - Complete intercompany journal entry information\n        - Full transaction details with all accounting fields\n        - Entity information and exchange rates\n        - Attachment and reversal information\n        - Comprehensive transaction metadata\n\n        The response includes:\n        - All transaction details with account information\n        - Exchange rate data for all currency conversions (native to book, book to consolidation)\n        - Vendor, department, and tag information\n        - Balance calculations and transaction history\n        - File attachments and reversal relationships\n        - Complete audit trail information\n\n        This is the detailed view used for editing and complete transaction analysis.\n        "
      summary: Get Intercompany Journal Entry
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntercompanyJournalEntry'
              examples:
                GetIntercompanyJournalEntryResponse:
                  value:
                    id: 331
                    attachments: []
                    reversals:
                    - id: 332
                      order: '0004361'
                    order: '0004360'
                    type: journal_entry
                    journal_id: bf3fb423-12a9-47cb-9dca-18e6b9d8296b
                    memo: Example Inter-company Journal
                    currency: USD
                    created_automatically: false
                    date: '2025-07-25'
                    ref_number: null
                    created_at: 2025-07-25T03:45:59+0000
                    last_modified_at: 2025-07-25T03:45:59+0000
                    reversal_of: null
                    transactions:
                    - id: 24429466
                      entity_name: Top Level
                      entity_currency: USD
                      account_name: 1000 - Cash and Cash Equivalents
                      account_number: '1000'
                      vendor_name: ABC Bead Supply
                      department_name: Executive
                      parent_department_name: General and Administrative
                      parent_department: 108
                      tags:
                      - id: 8304
                        group_name: Region
                        parent_name: null
                        parent: null
                        name: North America
                        created_at: 2025-07-10T20:50:45+0000
                        last_modified_at: 2025-07-10T20:50:45+0000
                        group: 669
                      journal: 7491947
                      journal_order: '0004360'
                      journal_memo: Example Inter-company Journal
                      journal_type: journal_entry
                      intercompany_journal: 331
                      created_automatically: false
                      journal_attachments: []
                      journal_type_name: Journal Entry
                      invoice: null
                      bill: null
                      date_month: '07'
                      date_year: '2025'
                      balance_after_transaction: 9876.54
                      account: 180564
                      last_modified_by_name: Zack Moss
                      account_type: ASSET
                      files: []
                      file_names: []
                      amount: 9876.54
                      amount_native: 9876.54
                      amount_book: 9876.54
                      amortization_schedule: []
                      transaction_id: 393478d2-b523-4b42-bbd1-5952a7fd5eb1
                      debit_amount: 9876.54
                      credit_amount: null
                      debit_amount_book: 9876.54
                      credit_amount_book: null
                      debit_amount_native: 9876.54
                      credit_amount_native: null
                      currency: USD
                      exchange_rate: 1
                      exchange_rate_book: 1
                      posted_at: '2025-07-25'
                      merchant_name: null
                      bank_description: 'Example Inter-company Journal '
                      note: null
                      balance_before_transaction: null
                      created_at: 2025-07-25T03:45:59+0000
                      external_id: null
                      needs_review: false
                      last_modified_at: 2025-07-25T03:45:59+0000
                      draft_matches: null
                      entity: 54
                      parent_bank_transaction: null
                      vendor: 34182
                      department: 364
                      last_modified_by: 904
                    - id: 24429467
                      entity_name: Top Level
                      entity_currency: USD
                      account_name: 1900 - Intercompany Accounts Receivable
                      account_number: '1900'
                      tags: []
                      journal: 7491947
                      journal_order: '0004360'
                      journal_memo: Example Inter-company Journal
                      journal_type: journal_entry
                      intercompany_journal: 331
                      created_automatically: false
                      journal_attachments: []
                      journal_type_name: Journal Entry
                      invoice: null
                      bill: null
                      date_month: '07'
                      date_year: '2025'
                      balance_after_transaction: -9876.54
                      account: 14239
                      last_modified_by_name: Zack Moss
                      account_type: ASSET
                      files: []
                      file_names: []
                      amount: 9876.54
                      amount_native: 9876.54
                      amount_book: 9876.54
                      amortization_schedule: []
                      transaction_id: daeefb8c-b548-47dc-8546-cac1e3e745b3
                      debit_amount: null
                      credit_amount: 9876.54
                      debit_amount_book: null
                      credit_amount_book: 9876.54
                      debit_amount_native: null
                      credit_amount_native: 9876.54
                      currency: USD
                      exchange_rate: 1
                      exchange_rate_book: 1
                      posted_at: '2025-07-25'
                      merchant_name: null
                      bank_description: 'Example Inter-company Journal '
                      note: null
                      balance_before_transaction: null
                      created_at: 2025-07-25T03:45:59+0000
                      external_id: null
                      needs_review: false
                      last_modified_at: 2025-07-25T03:45:59+0000
                      draft_matches: null
                      entity: 54
                      parent_bank_transaction: null
                      vendor: null
                      department: null
                      last_modified_by: 904
                    - id: 24429470
                      entity_name: Eliminations
                      entity_currency: USD
                      account_name: 1014 - JPMC Cash
                      account_number: '1014'
                      tags: []
                      journal: 7491949
                      journal_order: '0004360'
                      journal_memo: Example Inter-company Journal
                      journal_type: journal_entry
                      intercompany_journal: 331
                      created_automatically: false
                      journal_attachments: []
                      journal_type_name: Journal Entry
                      invoice: null
                      bill: null
                      date_month: '07'
                      date_year: '2025'
                      balance_after_transaction: -9876.54
                      account: 8855
                      last_modified_by_name: Zack Moss
                      account_type: ASSET
                      parent_account_name: Cash and Cash Equivalents
                      files: []
                      file_names: []
                      amount: 9876.54
                      amount_native: 9876.54
                      amount_book: 9876.54
                      amortization_schedule: []
                      transaction_id: 058c8386-3a78-4477-97aa-2fe2427a982a
                      debit_amount: null
                      credit_amount: 9876.54
                      debit_amount_book: null
                      credit_amount_book: 9876.54
                      debit_amount_native: null
                      credit_amount_native: 9876.54
                      currency: USD
                      exchange_rate: 1
                      exchange_rate_book: 1
                      posted_at: '2025-07-25'
                      merchant_name: null
                      bank_description: 'Example Inter-company Journal '
                      note: null
                      balance_before_transaction: null
                      created_at: 2025-07-25T03:46:00+0000
                      external_id: null
                      needs_review: false
                      last_modified_at: 2025-07-25T03:46:00+0000
                      draft_matches: null
                      entity: 55
                      parent_bank_transaction: null
                      vendor: null
                      department: null
                      last_modified_by: 904
                    - id: 24429471
                      entity_name: Eliminations
                      entity_currency: USD
                      account_name: 2020 - Intercompany Accounts Payable
                      account_number: '2020'
                      tags: []
                      journal: 7491949
                      journal_order: '0004360'
                      journal_memo: Example Inter-company Journal
                      journal_type: journal_entry
                      intercompany_journal: 331
                      created_automatically: false
                      journal_attachments: []
                      journal_type_name: Journal Entry
                      invoice: null
                      bill: null
                      date_month: '07'
                      date_year: '2025'
                      balance_after_transaction: -9876.54
                      account: 14240
                      last_modified_by_name: Zack Moss
                      account_type: LIABILITY
                      files: []
                      file_names: []
                      amount: 9876.54
                      amount_native: 9876.54
                      amount_book: 9876.54
                      amortization_schedule: []
                      transaction_id: 04e16db2-5df1-4a7d-8d13-be0bad45ccdf
                      debit_amount: 9876.54
                      credit_amount: null
                      debit_amount_book: 9876.54
                      credit_amount_book: null
                      debit_amount_native: 9876.54
                      credit_amount_native: null
                      currency: USD
                      exchange_rate: 1
                      exchange_rate_book: 1
                      posted_at: '2025-07-25'
                      merchant_name: null
                      bank_description: 'Example Inter-company Journal '
                      note: null
                      balance_before_transaction: null
                      created_at: 2025-07-25T03:46:00+0000
                      external_id: null
                      needs_review: false
                      last_modified_at: 2025-07-25T03:46:00+0000
                      draft_matches: null
                      entity: 55
                      parent_bank_transaction: null
                      vendor: null
                      department: null
                      last_modified_by: 904
                    exchange_rates:
                    - entity: 54
                      entity_name: Top Level
                      originating_currency: USD
                      target_currency: USD
                      exchange_rate: 1.0
                    - entity: 55
                      entity_name: Eliminations
                      originating_currency: USD
                      target_currency: USD
                      exchange_rate: 1.0
                  summary: Complete intercompany journal entry with full transaction details
                  description: Example response showing a single intercompany journal entry retrieved by ID with comprehensive transaction information
          description: ''
    put:
      operationId: coa_api_intercompany_journal_entry_update
      description: "\n        Updates an existing intercompany journal entry with new transaction details.\n\n        This endpoint allows for:\n        - Modifying transaction amounts and details\n        - Updating entity assignments and exchange rates\n        - Changing account assignments and categorizations\n        - Updating vendor, department, and tag information\n        - Maintaining balance validation across all entities\n\n        Key requirements:\n        - Total debits must equal total credits for each entity\n        - All account balances must be valid in all currencies\n        - Cannot modify entries in closed periods\n        - All referenced accounts must be active\n        - Existing transactions are replaced with new transaction set\n        - Exchange rates must be provided for all currency conversions\n\n        The update process atomically replaces all transactions while preserving the journal entry ID and audit trail.\n        "
      summary: Update Intercompany Journal Entry
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Core Accounting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntercompanyJournalEntry'
            examples:
              UpdateIntercompanyJournalEntryRequest:
                value:
                  date: '2025-07-25'
                  type: journal_entry
                  transactions:
                  - entity: 54
                    entity_name: Top Level
                    account: '180564'
                    account_name: 1000 - Cash and Cash Equivalents
                    debit_amount_native: 12345.67
                    debit_amount_book: 12345.67
                    debit_amount: 12345.67
                    bank_description: 'Updated Inter-company Journal '
                    vendor: '34182'
                    vendor_name: ABC Bead Supply
                    department: '364'
                    department_name: Executive
                    tags:
                    - id: '8304'
                      name: North America
                      group: 669
                  - entity: 55
                    entity_name: Eliminations
                    account: '8855'
                    account_name: 1014 - JPMC Cash
                    credit_amount_native: 12345.67
                    credit_amount_book: 12345.67
                    credit_amount: 12345.67
                    bank_description: 'Updated Inter-company Journal '
                  - entity: 54
                    entity_name: Top Level
                    tags: []
                    credit_amount_native: 12345.67
                    credit_amount_book: 12345.67
                    credit_amount: 12345.67
                    account: '14239'
                    account_name: 1900 - Intercompany Accounts Receivable
                    bank_description: 'Updated Inter-company Journal '
                  - entity: 55
                    entity_name: Eliminations
                    tags: []
                    debit_amount_native: 12345.67
                    debit_amount_book: 12345.67
                    debit_amount: 12345.67
                    account: '14240'
                    account_name: 2020 - Intercompany Accounts Payable
                    bank_description: 'Updated Inter-company Journal '
                  memo: 'Updated Inter-company Journal '
                  currency: USD
                  exchange_rates:
                  - entity: 54
                    entity_name: Top Level
                    originating_currency: USD
                    target_currency: USD
                    exchange_rate: 1.0
                  - entity: 55
                    entity_name: Eliminations
                    originating_currency: USD
                    target_currency: USD
                    exchange_rate: 1.0
                summary: Update request with modified transaction amounts
                description: Example request showing how to update an intercompany journal entry with new transaction amounts and details
              UpdateIntercompanyJournalEntryResponse:
                value:
                  id: 331
                  attachments: []
                  reversals: []
                  order: '0004360'
                  type: journal_entry
                  journal_id: bf3fb423-12a9-47cb-9dca-18e6b9d8296b
                  memo: Updated Inter-company Journal
                  currency: USD
                  created_automatically: false
                  date: '2025-07-25'
                  ref_number: null
                  created_at: 2025-07-25T03:45:59+0000
                  last_modified_at: 2025-07-25T04:15:32+0000
                  reversal_of: null
                  transactions:
                  - id: 24429466
                    entity_name: Top Level
                    entity_currency: USD
                    account_name: 1000 - Cash and Cash Equivalents
                    account_number: '1000'
                    vendor_name: ABC Bead Supply
                    department_name: Executive
                    parent_department_name: General and Administrative
                    parent_department: 108
                    tags:
                    - id: 8304
                      group_name: Region
                      parent_name: null
                      parent: null
                      name: North America
                      created_at: 2025-07-10T20:50:45+0000
                      last_modified_at: 2025-07-10T20:50:45+0000
                      group: 669
                    journal: 7491947
                    journal_order: '0004360'
                    journal_memo: Updated Inter-company Journal
                    journal_type: journal_entry
                    intercompany_journal: 331
                    created_automatically: false
                    journal_attachments: []
                    journal_type_name: Journal Entry
                    invoice: null
                    bill: null
                    date_month: '07'
                    date_year: '2025'
                    balance_after_transaction: 12345.67
                    account: 180564
                    last_modified_by_name: Zack Moss
                    account_type: ASSET
                    files: []
                    file_names: []
                    amount: 12345.67
                    amount_native: 12345.67
                    amount_book: 12345.67
                    amortization_schedule: []
                    transaction_id: 393478d2-b523-4b42-bbd1-5952a7fd5eb1
                    debit_amount: 12345.67
                    credit_amount: null
                    debit_amount_book: 12345.67
                    credit_amount_book: null
                    debit_amount_native: 12345.67
                    credit_amount_native: null
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    posted_at: '2025-07-25'
                    merchant_name: null
                    bank_description: 'Updated Inter-company Journal '
                    note: null
                    balance_before_transaction: null
                    created_at: 2025-07-25T03:45:59+0000
                    external_id: null
                    needs_review: false
                    last_modified_at: 2025-07-25T04:15:32+0000
                    draft_matches: null
                    entity: 54
                    parent_bank_transaction: null
                    vendor: 34182
                    department: 364
                    last_modified_by: 904
                  - id: 24429467
                    entity_name: Top Level
                    entity_currency: USD
                    account_name: 1900 - Intercompany Accounts Receivable
                    account_number: '1900'
                    tags: []
                    journal: 7491947
                    journal_order: '0004360'
                    journal_memo: Updated Inter-company Journal
                    journal_type: journal_entry
                    intercompany_journal: 331
                    created_automatically: false
                    journal_attachments: []
                    journal_type_name: Journal Entry
                    invoice: null
                    bill: null
                    date_month: '07'
                    date_year: '2025'
                    balance_after_transaction: -12345.67
                    account: 14239
                    last_modified_by_name: Zack Moss
                    account_type: ASSET
                    files: []
                    file_names: []
                    amount: 12345.67
                    amount_native: 12345.67
                    amount_book: 12345.67
                    amortization_schedule: []
                    transaction_id: daeefb8c-b548-47dc-8546-cac1e3e745b3
                    debit_amount: null
                    credit_amount: 12345.67
                    debit_amount_book: null
                    credit_amount_book: 12345.67
                    debit_amount_native: null
                    credit_amount_native: 12345.67
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    posted_at: '2025-07-25'
                    merchant_name: null
                    bank_description: 'Updated Inter-company Journal '
                    note: null
                    balance_before_transaction: null
                    created_at: 2025-07-25T03:45:59+0000
                    external_id: null
                    needs_review: false
                    last_modified_at: 2025-07-25T04:15:32+0000
                    draft_matches: null
                    entity: 54
                    parent_bank_transaction: null
                    vendor: null
                    department: null
                    last_modified_by: 904
                  - id: 24429470
                    entity_name: Eliminations
                    entity_currency: USD
                    account_name: 1014 - JPMC Cash
                    account_number: '1014'
                    tags: []
                    journal: 7491949
                    journal_order: '0004360'
                    journal_memo: Updated Inter-company Journal
                    journal_type: journal_entry
                    intercompany_journal: 331
                    created_automatically: false
                    journal_attachments: []
                    journal_type_name: Journal Entry
                    invoice: null
                    bill: null
                    date_month: '07'
                    date_year: '2025'
                    balance_after_transaction: -12345.67
                    account: 8855
                    last_modified_by_name: Zack Moss
                    account_type: ASSET
                    parent_account_name: Cash and Cash Equivalents
                    files: []
                    file_names: []
                    amount: 12345.67
                    amount_native: 12345.67
                    amount_book: 12345.67
                    amortization_schedule: []
                    transaction_id: 058c8386-3a78-4477-97aa-2fe2427a982a
                    debit_amount: null
                    credit_amount: 12345.67
                    debit_amount_book: null
                    credit_amount_book: 12345.67
                    debit_amount_native: null
                    credit_amount_native: 12345.67
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    posted_at: '2025-07-25'
                    merchant_name: null
                    bank_description: 'Updated Inter-company Journal '
                    note: null
                    balance_before_transaction: null
                    created_at: 2025-07-25T03:46:00+0000
                    external_id: null
                    needs_review: false
                    last_modified_at: 2025-07-25T04:15:32+0000
                    draft_matches: null
                    entity: 55
                    parent_bank_transaction: null
                    vendor: null
                    department: null
                    last_modified_by: 904
                  - id: 24429471
                    entity_name: Eliminations
                    entity_currency: USD
                    account_name: 2020 - Intercompany Accounts Payable
                    account_number: '2020'
                    tags: []
                    journal: 7491949
                    journal_order: '0004360'
                    journal_memo: Updated Inter-company Journal
                    journal_type: journal_entry
                    intercompany_journal: 331
                    created_automatically: false
                    journal_attachments: []
                    journal_type_name: Journal Entry
                    invoice: null
                    bill: null
                    date_month: '07'
                    date_year: '2025'
                    balance_after_transaction: -12345.67
                    account: 14240
                    last_modified_by_name: Zack Moss
                    account_type: LIABILITY
                    files: []
                    file_names: []
                    amount: 12345.67
                    amount_native: 12345.67
                    amount_book: 12345.67
                    amortization_schedule: []
                    transaction_id: 04e16db2-5df1-4a7d-8d13-be0bad45ccdf
                    debit_amount: 12345.67
                    credit_amount: null
                    debit_amount_book: 12345.67
                    credit_amount_book: null
                    debit_amount_native: 12345.67
                    credit_amount_native: null
                    currency: USD
                    exchange_rate: 1
                    exchange_rate_book: 1
                    posted_at: '2025-07-25'
                    merchant_name: null
                    bank_description: 'Updated Inter-company Journal '
                    note: null
                    balance_before_transaction: null
                    created_at: 2025-07-25T03:46:00+0000
                    external_id: null
                    needs_review: false
                    last_modified_at: 2025-07-25T04:15:32+0000
                    draft_matches: null
                    entity: 55
                    parent_bank_transaction: null
                    vendor: null
                    department: null
                    last_modified_by: 904
                  exchange_rates:
                  - entity: 54
                    entity_name: Top Level
                    originating_currency: USD
                    target_currency: USD
                    exchange_rate: 1.0
                  - entity: 55
                    entity_name: Eliminations
                    originating_currency: USD
                    target_currency: USD
                    exchange_rate: 1.0
                summary: Response after successfully updating an intercompany journal entry
                description: Example response showing the updated intercompany journal entry with modified amounts and updated timestamps
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IntercompanyJournalEntry'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IntercompanyJournalEntry'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntercompanyJournalEntry'
              examples:
                UpdateIntercompanyJournalEntryResponse:
                  value:
                    id: 331
                    attachments: []
                    reversals: []
                    order: '0004360'
                    type: journal_entry
                    journal_id: bf3fb423-12a9-47cb-9dca-18e6b9d8296b
                    memo: Updated Inter-company Journal
                    currency: USD
                    created_automatically: false
                    date: '2025-07-25'
                    ref_number: null
                    created_at: 2025-07-25T03:45:59+0000
                    last_modified_at: 2025-07-25T04:15:32+0000
                    reversal_of: null
                    transactions:
                    - id: 24429466
                      entity_name: Top Level
                      entity_currency: USD
                      account_name: 1000 - Cash and Cash Equivalents
                      account_number: '1000'
                      vendor_name: ABC Bead Supply
                      department_name: Executive
                      parent_department_name: General and Administrative
                      parent_department: 108
                      tags:
                      - id: 8304
                        group_name: Region
                        parent_name: null
                        parent: null
                        name: North America
                        created_at: 2025-07-10T20:50:45+0000
                        last_modified_at: 2025-07-10T20:50:45+0000
                        group: 669
                      journal: 7491947
                      journal_order: '0004360'
                      journal_memo: Updated Inter-company Journal
                      journal_type: journal_entry
                      intercompany_journal: 331
                      created_automatically: false
                      journal_attachments: []
                      journal_type_name: Journal Entry
                      invoice: null
                      bill: null
                      date_month: '07'
                      date_year: '2025'
                      balance_after_transaction: 12345.67
                      account: 180564
                      last_modified_by_name: Zack Moss
                      account_type: ASSET
                      files: []
                      file_names: []
                      amount: 12345.67
                      amount_native: 12345.67
                      amount_book: 12345.67
                      amortization_schedule: []
                      transaction_id: 393478d2-b523-4b42-bbd1-5952a7fd5eb1
                      debit_amount: 12345.67
                      credit_amount: null
                      debit_amount_book: 12345.67
                      credit_amount_book: null
                      debit_amount_native: 12345.67
                      credit_amount_native: null
                      currency: USD
                      exchange_rate: 1
                      exchange_rate_book: 1
                      posted_at: '2025-07-25'
                      merchant_name: null
                      bank_description: 'Updated Inter-company Journal '
                      note: null
                      balance_before_transaction: null
                      created_at: 2025-07-25T03:45:59+0000
                      external_id: null
[...]
