openapi: 3.0.3
info:
  title: Campfire Developer APIs Accounts Payable Revenue Recognition API
  version: 1.0.0
  description: '## Introduction

    Campfire''s developer APIs offer granular access to Campfire''s core accounting,

    revenue recognition, and financial data features.


    These APIs are designed to be used by developers to build custom integrations,

    automate workflows, and perform any other programmatic operations.

    '
servers:
- url: https://api.meetcampfire.com
  description: Production server
tags:
- name: Revenue Recognition
  description: Operations related to revenue recognition, contract management, and contract data aggregation.
paths:
  /rr/api/v1/contracts:
    get:
      operationId: list_contracts
      description: "\n        Retrieve a list of contracts with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n\n        When download=true, triggers an async workflow that generates a ZIP file with\n        contracts_summary.csv and contracts_detail.csv, uploads to S3, and sends an email\n        with the download link.\n        "
      summary: List Contracts
      parameters:
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContractList'
          description: ''
      x-mint:
        mcp:
          enabled: true
          name: get_contracts
          description: Retrieve contract information with optional filtering
    post:
      operationId: create_contract
      description: "\n    Create a new contract.\n\n    Evergreen vs standard:\n    - Standard contract: set is_evergreen=false and provide a fixed contract_end_date.\n    - Evergreen contract: set is_evergreen=true and leave contract_end_date as null.\n      The system manages a rolling effective_end_date, exposes working_end_date for downstream usage,\n      and returns evergreen_locked_date for immutable historical boundary rules.\n\n    Additional evergreen constraints:\n    - is_evergreen and auto_renew cannot both be true.\n    - billing_frequency is required for evergreen behavior.\n    - skip_evergreen_invoice_generation is creation-time only and cannot be changed on existing contracts.\n    - skip_evergreen_invoice_generation=true skips only Campfire's auto-generated evergreen invoices.\n      Revenue transactions still generate.\n    "
      summary: Create Contract
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
            examples:
              CreateStandardContract:
                value:
                  client: 101
                  entity: 11
                  deal_name: Platform Annual - Fixed Term
                  contract_start_date: '2026-01-01'
                  contract_end_date: '2026-12-31'
                  currency: USD
                  billing_frequency: annual
                  is_evergreen: false
                  auto_renew: false
                  auto_send_invoices: false
                  skip_evergreen_invoice_generation: false
                summary: Create Standard Contract
              CreateEvergreenContractWithGeneratedInvoices:
                value:
                  client: 101
                  entity: 11
                  deal_name: Platform Evergreen - Monthly
                  contract_start_date: '2026-01-01'
                  contract_end_date: null
                  currency: USD
                  billing_frequency: monthly
                  is_evergreen: true
                  auto_renew: false
                  auto_send_invoices: true
                  skip_evergreen_invoice_generation: false
                summary: Create Evergreen Contract with Generated Invoices
              CreateEvergreenContractWithoutGeneratedInvoices:
                value:
                  client: 101
                  entity: 11
                  deal_name: Platform Evergreen - Imported Invoices
                  contract_start_date: '2026-01-01'
                  contract_end_date: null
                  currency: USD
                  billing_frequency: monthly
                  is_evergreen: true
                  auto_renew: false
                  auto_send_invoices: false
                  auto_apply_customer_stripe_config_to_invoices: false
                  skip_evergreen_invoice_generation: true
                summary: Create Evergreen Contract without Generated Invoices
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Contract'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Contract'
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
          description: ''
  /rr/api/v1/contracts/{contract_id}/bundles:
    get:
      operationId: list_contract_bundles
      description: "\n        Retrieve a list of contract bundles with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Contract Bundles
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractBundle'
          description: ''
    post:
      operationId: create_contract_bundle
      description: "\n    Create a new contract bundle.\n\n    Evergreen vs standard:\n    - Standard contracts require a fixed bundle end_date.\n    - Evergreen contracts allow end_date to be null (open-ended) or set to a billing-period end date.\n      Evergreen bundle start/end dates must align with billing period boundaries.\n\n    Evergreen-specific option:\n    - rebalance_journal_entries_indefinitely=true keeps invoice-journal rebalancing in sync as the evergreen\n      contract extends.\n    "
      summary: Create Contract Bundle
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractBundle'
            examples:
              CreateStandardContractBundle:
                value:
                  contract: 9001
                  bundle_name: Standard Allocation Bundle
                  start_date: '2026-01-01'
                  end_date: '2026-12-31'
                  rebalance_journal_entries_indefinitely: false
                  lines:
                  - product: 1201
                    amount: '7000.00'
                  - product: 1202
                    amount: '3000.00'
                summary: Create Standard Contract Bundle
              CreateEvergreenContractBundle:
                value:
                  contract: 9002
                  bundle_name: Evergreen Allocation Bundle
                  start_date: '2026-04-01'
                  end_date: null
                  rebalance_journal_entries_indefinitely: true
                  lines:
                  - product: 1201
                    amount: '6500.00'
                  - product: 1202
                    amount: '3500.00'
                summary: Create Evergreen Contract Bundle
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractBundle'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractBundle'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractBundle'
          description: ''
  /rr/api/v1/contracts/{contract_id}/bundles/{id}:
    get:
      operationId: rr_api_v1_contracts_bundles_retrieve
      summary: Retrieve Contract Bundle
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractBundle'
          description: ''
    put:
      operationId: rr_api_v1_contracts_bundles_update
      summary: Update Contract Bundle
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractBundle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractBundle'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractBundle'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractBundle'
          description: ''
    patch:
      operationId: rr_api_v1_contracts_bundles_partial_update
      summary: Partial Update Contract Bundle
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractBundle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractBundle'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractBundle'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractBundle'
          description: ''
    delete:
      operationId: rr_api_v1_contracts_bundles_destroy
      summary: Delete Contract Bundle
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/milestones:
    get:
      operationId: list_contract_milestones
      description: "\n        Retrieve a list of milestones for a specific contract with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Contract Milestones
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContractMilestoneList'
          description: ''
    post:
      operationId: create_contract_milestone
      description: Create a new milestone for a contract. This will automatically create an associated revenue transaction.
      summary: Create Contract Milestone
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractMilestone'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractMilestone'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractMilestone'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractMilestone'
          description: ''
  /rr/api/v1/contracts/{contract_id}/milestones/{milestone_id}/allocations:
    get:
      operationId: rr_api_v1_contracts_milestones_allocations_retrieve
      description: Retrieve the current bundle allocation details for a contract subscription, milestone, or usage.
      summary: Get Bundle Allocations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: milestone_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductBundle'
          description: ''
    put:
      operationId: rr_api_v1_contracts_milestones_allocations_update
      description: "\n        Update the bundle allocations for a contract item.\n\n        The sum of all line amounts must equal the bundle's total_amount.\n        Changes will cascade to related RevenueTransactions and JournalEntries.\n        "
      summary: Update Bundle Allocations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: milestone_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractProductBundleUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractProductBundleUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractProductBundleUpdate'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductBundle'
          description: ''
    patch:
      operationId: rr_api_v1_contracts_milestones_allocations_partial_update
      description: Partially update bundle allocations. Same behavior as PUT.
      summary: Partial Update Bundle Allocations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: milestone_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractProductBundleUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractProductBundleUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractProductBundleUpdate'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductBundle'
          description: ''
  /rr/api/v1/contracts/{contract_id}/milestones/{id}:
    get:
      operationId: rr_api_v1_contracts_milestones_retrieve
      summary: Retrieve Contract Milestone
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractMilestone'
          description: ''
    put:
      operationId: rr_api_v1_contracts_milestones_update
      summary: Update Contract Milestone
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractMilestone'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractMilestone'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractMilestone'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractMilestone'
          description: ''
    patch:
      operationId: rr_api_v1_contracts_milestones_partial_update
      summary: Partial Update Contract Milestone
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractMilestone'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractMilestone'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractMilestone'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractMilestone'
          description: ''
    delete:
      operationId: rr_api_v1_contracts_milestones_destroy
      summary: Delete Contract Milestone
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/prepaid-commit-summary:
    get:
      operationId: get_prepaid_commit_summary
      summary: Get Prepaid Commit Summary
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/prepaid-commits:
    get:
      operationId: list_prepaid_commits
      summary: List Prepaid Commits
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContractPrepaidCommitList'
          description: ''
    post:
      operationId: create_prepaid_commit
      summary: Create Prepaid Commit
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractPrepaidCommit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractPrepaidCommit'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractPrepaidCommit'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractPrepaidCommit'
          description: ''
  /rr/api/v1/contracts/{contract_id}/prepaid-commits/{commit_id}/consumption:
    get:
      operationId: list_prepaid_commit_consumption
      summary: List Prepaid Commit Consumption
      parameters:
      - in: path
        name: commit_id
        schema:
          type: integer
        required: true
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContractPrepaidCommitConsumptionList'
          description: ''
    post:
      operationId: create_prepaid_commit_consumption
      summary: Create Prepaid Commit Consumption
      parameters:
      - in: path
        name: commit_id
        schema:
          type: integer
        required: true
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordConsumptionInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RecordConsumptionInput'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RecordConsumptionInput'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordConsumptionInput'
          description: ''
  /rr/api/v1/contracts/{contract_id}/prepaid-commits/{commit_id}/consumption/{id}:
    put:
      operationId: update_prepaid_commit_consumption
      summary: Update Prepaid Commit Consumption
      parameters:
      - in: path
        name: commit_id
        schema:
          type: integer
        required: true
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
    delete:
      operationId: delete_prepaid_commit_consumption
      summary: Delete Prepaid Commit Consumption
      parameters:
      - in: path
        name: commit_id
        schema:
          type: integer
        required: true
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/prepaid-commits/{commit_id}/process-adjustments:
    post:
      operationId: process_prepaid_commit_adjustments
      description: Process adjustment events for a prepaid commit and create credit memos.
      summary: Process Prepaid Commit Adjustments
      parameters:
      - in: path
        name: commit_id
        schema:
          type: integer
        required: true
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/prepaid-commits/{commit_id}/usage-events:
    get:
      operationId: list_prepaid_commit_usage_events
      summary: List Prepaid Commit Usage Events
      parameters:
      - in: path
        name: commit_id
        schema:
          type: integer
        required: true
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPrepaidUsageEventList'
          description: ''
  /rr/api/v1/contracts/{contract_id}/prepaid-commits/{commit_id}/usage-events/distinct-values:
    get:
      operationId: get_prepaid_commit_usage_event_distinct_values
      description: Return distinct values for a given JSONB data field, for filter dropdowns.
      summary: Get Prepaid Commit Usage Event Distinct Values
      parameters:
      - in: path
        name: commit_id
        schema:
          type: integer
        required: true
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/prepaid-commits/{commit_id}/usage-events/template:
    get:
      operationId: get_prepaid_commit_usage_events_template
      description: Download a CSV template (commit-scoped).
      summary: Get Prepaid Commit Usage Events Template
      parameters:
      - in: path
        name: commit_id
        schema:
          type: integer
        required: true
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/prepaid-commits/{commit_id}/usage-events/upload:
    post:
      operationId: upload_prepaid_commit_usage_events
      description: Upload a CSV of usage events for a specific prepaid commit (commit-scoped).
      summary: Upload Prepaid Commit Usage Events
      parameters:
      - in: path
        name: commit_id
        schema:
          type: integer
        required: true
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/prepaid-commits/{id}:
    get:
      operationId: get_prepaid_commit
      summary: Retrieve Prepaid Commit
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractPrepaidCommit'
          description: ''
    put:
      operationId: update_prepaid_commit
      summary: Update Prepaid Commit
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractPrepaidCommit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractPrepaidCommit'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractPrepaidCommit'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractPrepaidCommit'
          description: ''
    patch:
      operationId: partial_update_prepaid_commit
      summary: Partial Update Prepaid Commit
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractPrepaidCommit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractPrepaidCommit'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractPrepaidCommit'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractPrepaidCommit'
          description: ''
    delete:
      operationId: delete_prepaid_commit
      summary: Delete Prepaid Commit
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/subscriptions:
    get:
      operationId: list_contract_subscriptions
      description: "\n        Retrieve a list of contract subscriptions with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Contract Subscriptions
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractSubscription'
          description: ''
    post:
      operationId: create_contract_subscription
      description: "\n    Create a new contract subscription.\n\n    Evergreen vs standard:\n    - Standard contract subscriptions generally provide explicit lines and fixed start/end dates.\n    - Evergreen contract subscriptions can provide period_amount to auto-generate lines. Their dates must align\n      to billing period boundaries and must not exceed the contract's current working_end_date.\n\n    Notes:\n    - Usage and milestone subscription flows are not supported for evergreen contracts.\n    - For evergreen contracts, period_amount is the source-of-truth amount per billing period.\n    - renewal_behavior:\n      - FOLLOW_CONTRACT: subscription follows evergreen contract extension windows.\n      - FIXED_END: subscription keeps its own fixed end_date and does not extend automatically.\n    "
      summary: Create Contract Subscription
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractSubscription'
            examples:
              CreateStandardSubscription:
                value:
                  contract: 9001
                  product: 300
                  start_date: '2026-01-01'
                  end_date: '2026-12-31'
                  mrr: '2500.00'
                  lines:
                  - start_date: '2026-01-01'
                    end_date: '2026-12-31'
                    total_value: '30000.00'
                    mrr: '2500.00'
                summary: Create Standard Subscription
              CreateEvergreenSubscriptionWithPeriodAmount:
                value:
                  contract: 9002
                  product: 300
                  start_date: '2026-04-01'
                  renewal_behavior: FOLLOW_CONTRACT
                  period_amount: '10000.00'
                  lines: []
                summary: Create Evergreen Subscription with period_amount
              CreateEvergreenSubscriptionWithFixedEndDate:
                value:
                  contract: 9002
                  product: 300
                  start_date: '2026-04-01'
                  end_date: '2026-06-30'
                  renewal_behavior: FIXED_END
                  period_amount: '10000.00'
                  lines: []
                summary: Create Evergreen Subscription with fixed end date
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractSubscription'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractSubscription'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractSubscription'
          description: ''
  /rr/api/v1/contracts/{contract_id}/subscriptions/{id}:
    get:
      operationId: rr_api_v1_contracts_subscriptions_retrieve
      summary: Retrieve Contract Subscription
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractSubscription'
          description: ''
    put:
      operationId: rr_api_v1_contracts_subscriptions_update
      summary: Update Contract Subscription
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractSubscription'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractSubscription'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractSubscription'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractSubscription'
          description: ''
    patch:
      operationId: rr_api_v1_contracts_subscriptions_partial_update
      summary: Partial Update Contract Subscription
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractSubscription'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractSubscription'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractSubscription'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractSubscription'
          description: ''
    delete:
      operationId: rr_api_v1_contracts_subscriptions_destroy
      summary: Delete Contract Subscription
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/subscriptions/{subscription_id}/allocations:
    get:
      operationId: rr_api_v1_contracts_subscriptions_allocations_retrieve
      description: Retrieve the current bundle allocation details for a contract subscription, milestone, or usage.
      summary: Get Bundle Allocations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: subscription_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductBundle'
          description: ''
    put:
      operationId: rr_api_v1_contracts_subscriptions_allocations_update
      description: "\n        Update the bundle allocations for a contract item.\n\n        The sum of all line amounts must equal the bundle's total_amount.\n        Changes will cascade to related RevenueTransactions and JournalEntries.\n        "
      summary: Update Bundle Allocations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: subscription_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractProductBundleUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractProductBundleUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractProductBundleUpdate'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductBundle'
          description: ''
    patch:
      operationId: rr_api_v1_contracts_subscriptions_allocations_partial_update
      description: Partially update bundle allocations. Same behavior as PUT.
      summary: Partial Update Bundle Allocations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: subscription_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractProductBundleUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractProductBundleUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractProductBundleUpdate'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductBundle'
          description: ''
  /rr/api/v1/contracts/{contract_id}/tier-price-overrides:
    get:
      operationId: rr_api_v1_contracts_tier_price_overrides_list
      summary: List Contract Tier Price Overrides
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTierPriceOverrideList'
          description: ''
    post:
      operationId: rr_api_v1_contracts_tier_price_overrides_create
      summary: Create Contract Tier Price Override
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TierPriceOverride'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TierPriceOverride'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TierPriceOverride'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierPriceOverride'
          description: ''
  /rr/api/v1/contracts/{contract_id}/usage:
    get:
      operationId: rr_api_v1_contracts_usage_list
      description: List usage revenue records
      summary: List Contract Usage Revenue
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContractUsageList'
          description: ''
    post:
      operationId: rr_api_v1_contracts_usage_create
      description: List usage revenue records
      summary: Create Contract Usage Revenue
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUsage'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractUsage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractUsage'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractUsage'
          description: ''
  /rr/api/v1/contracts/{contract_id}/usage/{id}:
    get:
      operationId: rr_api_v1_contracts_usage_retrieve
      description: Retrieve, update, and delete contract usage revenue records
      summary: Retrieve Contract Usage Revenue
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractUsage'
          description: ''
    put:
      operationId: rr_api_v1_contracts_usage_update
      description: Retrieve, update, and delete contract usage revenue records
      summary: Update Contract Usage Revenue
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUsage'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractUsage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractUsage'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractUsage'
          description: ''
    patch:
      operationId: rr_api_v1_contracts_usage_partial_update
      description: Retrieve, update, and delete contract usage revenue records
      summary: Partially Update Contract Usage Revenue
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractUsage'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractUsage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractUsage'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractUsage'
          description: ''
    delete:
      operationId: rr_api_v1_contracts_usage_destroy
      description: Retrieve, update, and delete contract usage revenue records
      summary: Delete Contract Usage Revenue
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/contracts/{contract_id}/usage/{usage_id}/allocations:
    get:
      operationId: rr_api_v1_contracts_usage_allocations_retrieve
      description: Retrieve the current bundle allocation details for a contract subscription, milestone, or usage.
      summary: Get Bundle Allocations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: usage_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductBundle'
          description: ''
    put:
      operationId: rr_api_v1_contracts_usage_allocations_update
      description: "\n        Update the bundle allocations for a contract item.\n\n        The sum of all line amounts must equal the bundle's total_amount.\n        Changes will cascade to related RevenueTransactions and JournalEntries.\n        "
      summary: Update Bundle Allocations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: usage_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractProductBundleUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractProductBundleUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractProductBundleUpdate'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductBundle'
          description: ''
    patch:
      operationId: rr_api_v1_contracts_usage_allocations_partial_update
      description: Partially update bundle allocations. Same behavior as PUT.
      summary: Partial Update Bundle Allocations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      - in: path
        name: usage_id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractProductBundleUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractProductBundleUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractProductBundleUpdate'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProductBundle'
          description: ''
  /rr/api/v1/contracts/{id}:
    get:
      operationId: rr_api_v1_contracts_retrieve
      summary: Retrieve Contract
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
          description: ''
    put:
      operationId: rr_api_v1_contracts_update
      summary: Update Contract
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Contract'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Contract'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
          description: ''
    patch:
      operationId: rr_api_v1_contracts_partial_update
      summary: Partial Update Contract
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContract'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContract'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContract'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
          description: ''
    delete:
      operationId: rr_api_v1_contracts_destroy
      summary: Delete Contract
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/contracts/{id}/duplicate:
    post:
      operationId: rr_api_v1_contracts_duplicate_create
      summary: Duplicate Contract
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDuplicateResponse'
          description: ''
  /rr/api/v1/contracts/{id}/minimum-commit-preview:
    get:
      operationId: rr_api_v1_contracts_minimum_commit_preview_retrieve
      description: 'Projected monthly minimum commitment true-up for a contract.


        Read-only. Returns the shortfall the month-end batch *would* post if it ran

        right now. Lets the contract detail screen show a live floor preview without

        triggering writes from the UI.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /rr/api/v1/contracts/{id}/terminate:
    post:
      operationId: rr_api_v1_contracts_terminate_create
      description: "Terminate a contract and optionally void associated invoices.\n\n        If the user has permission to terminate contracts and void invoices, both operations\n        are performed atomically. If the user lacks permission for either operation, a draft\n        is created instead, and the response indicates which operations were drafted.\n\n        Returns 400 if any of the provided void_invoice_ids are invalid (not found, already voided,\n        has payments, void date is before the invoice date, or in a closed period)."
      summary: Terminate Contract
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminateContract'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminateContract'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TerminateContract'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateContractResponse'
          description: ''
  /rr/api/v1/contracts/bulk-search:
    post:
      operationId: rr_api_v1_contracts_bulk_search_create
      description: Search for contracts by deal_name in a single request.
      summary: Bulk Search Contracts
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkContractSearch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BulkContractSearch'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BulkContractSearch'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contract'
          description: ''
  /rr/api/v1/contracts/parse:
    post:
      operationId: parse_contract
      description: Parse contract details from uploaded PDF files using AI.
      summary: Parse Contract
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          description: No response body
  /rr/api/v1/customers:
    get:
      operationId: rr_api_v1_customers_list
      description: "\n        Retrieve a list of contract customers with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Contract Customers
      parameters:
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContractCustomerList'
          description: ''
  /rr/api/v1/customers/{id}:
    get:
      operationId: rr_api_v1_customers_retrieve
      summary: Retrieve Contract Customer
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractCustomer'
          description: ''
    put:
      operationId: rr_api_v1_customers_update
      summary: Update Contract Customer
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractCustomer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractCustomer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractCustomer'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractCustomer'
          description: ''
    patch:
      operationId: rr_api_v1_customers_partial_update
      summary: Partial Update Contract Customer
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractCustomer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractCustomer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractCustomer'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractCustomer'
          description: ''
    delete:
      operationId: rr_api_v1_customers_destroy
      summary: Delete Contract Customer
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/modify-subscription-schedule:
    post:
      operationId: modify_subscription_schedule
      description: Generate a modified subscription schedule by comparing a new schedule against an existing subscription. Returns the delta between the original and modified schedules, with support for catch-up accounting and contract end date modifications.
      summary: Modify Subscription Schedule
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerageSubscriptionSchedule'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerageSubscriptionSchedule'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerageSubscriptionSchedule'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractSubscriptionLine'
          description: ''
  /rr/api/v1/product:
    get:
      operationId: list_products
      description: "\n        Retrieve a list of contract products with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Contract Products
      parameters:
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProductList'
          description: ''
    post:
      operationId: create_product
      description: Create a new product
      summary: Create Contract Product
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Product'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Product'
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: ''
  /rr/api/v1/product-bundles:
    get:
      operationId: list_product_bundles
      description: "\n        Retrieve a list of product bundles with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Product Bundles
      parameters:
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProductBundleList'
          description: ''
    post:
      operationId: create_product_bundle
      description: Create a new product bundle with products and percentage allocations. Total percentage must equal 100.
      summary: Create Product Bundle
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBundle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductBundle'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProductBundle'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBundle'
          description: ''
  /rr/api/v1/product-bundles/{id}:
    get:
      operationId: rr_api_v1_product_bundles_retrieve
      summary: Retrieve Product Bundle
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBundle'
          description: ''
    put:
      operationId: rr_api_v1_product_bundles_update
      summary: Update Product Bundle
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBundle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductBundle'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProductBundle'
        required: true
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBundle'
          description: ''
    patch:
      operationId: rr_api_v1_product_bundles_partial_update
      summary: Partial Update Product Bundle
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedProductBundle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedProductBundle'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedProductBundle'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBundle'
          description: ''
    delete:
      operationId: rr_api_v1_product_bundles_destroy
      summary: Delete Product Bundle
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/product/{id}:
    get:
      operationId: rr_api_v1_product_retrieve
      summary: Retrieve Product
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: ''
    put:
      operationId: rr_api_v1_product_update
      summary: Update Product
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Product'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Product'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: ''
    patch:
      operationId: rr_api_v1_product_partial_update
      summary: Partial Update Product
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedProduct'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedProduct'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedProduct'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: ''
    delete:
      operationId: rr_api_v1_product_destroy
      summary: Delete Product
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
  /rr/api/v1/transactions:
    get:
      operationId: list_revenue_transactions
      description: "\n        Retrieve a list of revenue transactions with optional filtering and sorting.\n\n        Supports including soft-deleted records for audit and recovery purposes.\n        When include_deleted=true, returns ONLY deleted records instead of active records.\n        Deleted records contain minimal data: 'id', 'is_deleted=true', 'deleted_at' timestamp,\n        and 'last_modified_at'. When 'false' or omitted, returns ONLY active records.\n        This provides clean separation between active and deleted data.\n        "
      summary: List Revenue Transactions
      parameters:
      - in: query
        name: include_deleted
        schema:
          type: boolean
          default: false
        description: 'When set to ''true'', returns ONLY deleted records instead of active records. Deleted records contain minimal data: ''id'', ''is_deleted=true'', ''deleted_at'' timestamp, and ''last_modified_at''. When ''false'' or omitted, returns ONLY active records. This provides clean separation between active and deleted data.'
      - in: query
        name: last_modified_at__gte
        schema:
          type: string
        description: 'Filter for records modified on or after this timestamp. Format: ISO 8601 (e.g., ''2024-01-01T00:00:00Z'' or ''2024-01-01''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - in: query
        name: last_modified_at__lte
        schema:
          type: string
        description: 'Filter for records modified on or before this timestamp. Format: ISO 8601 (e.g., ''2024-12-31T23:59:59Z'' or ''2024-12-31''). Works with both active records and deleted records (filters by deletion time for deleted records).'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRevenueTransactionList'
          description: ''
    post:
      operationId: create_revenue_transaction
      description: Create a new revenue transaction
      summary: Create Revenue Transaction
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevenueTransaction'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RevenueTransaction'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RevenueTransaction'
      security:
      - knoxApiToken: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueTransaction'
          description: ''
  /rr/api/v1/transactions/{id}:
    get:
      operationId: rr_api_v1_transactions_retrieve
      summary: Retrieve Revenue Transaction
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueTransaction'
          description: ''
    put:
      operationId: rr_api_v1_transactions_update
      summary: Update Revenue Transaction
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevenueTransaction'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RevenueTransaction'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RevenueTransaction'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueTransaction'
          description: ''
    patch:
      operationId: rr_api_v1_transactions_partial_update
      summary: Partial Update Revenue Transaction
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedRevenueTransaction'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedRevenueTransaction'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedRevenueTransaction'
      security:
      - knoxApiToken: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueTransaction'
          description: ''
    delete:
      operationId: rr_api_v1_transactions_destroy
      summary: Delete Revenue Transaction
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Revenue Recognition
      security:
      - knoxApiToken: []
      responses:
        '204':
          description: No response body
components:
  schemas:
    InvoiceCalculationEnum:
      enum:
      - FIXED_RATE
      - FIXED_QUANTITY
      type: string
      description: '* `FIXED_RATE` - Fixed Rate

        * `FIXED_QUANTITY` - Fixed Quantity'
    ContractUsage:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        contract:
          type: integer
        product:
          type: integer
          nullable: true
        product_bundle:
          type: string
          readOnly: true
        contract_product_bundle:
          allOf:
          - $ref: '#/components/schemas/ContractProductBundleRead'
          readOnly: true
        product_name:
          type: string
          readOnly: true
        product_bundle_name:
          type: string
          readOnly: true
        usage_group:
          type: integer
          nullable: true
        usage_group_name:
          type: string
          readOnly: true
        department:
          type: integer
          nullable: true
        tags:
          type: string
        description:
          type: string
          nullable: true
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        lines:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
          nullable: true
      required:
      - contract
      - contract_product_bundle
      - created_at
      - id
      - last_modified_at
      - lines
      - product_bundle
      - product_bundle_name
      - product_name
      - usage_group_name
    PaginatedContractList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/Contract'
    ContractBundle:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        is_deleted:
          type: boolean
          readOnly: true
          default: false
        deleted_at:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
          description: Bundle end date. Required for standard contracts. For evergreen contracts this may be null to follow the contract timeline, or set to a billing-period end date.
        rebalance_journal_entries_indefinitely:
          type: boolean
          default: false
          description: Should only be used for Evergreen contracts. When true, linked invoice journal entries are rebalanced on each evergreen contract extension.
        lines:
          type: array
          items:
            $ref: '#/components/schemas/ContractBundleLine'
        bundle_name:
          type: string
          maxLength: 250
        bundle_description:
          type: string
          nullable: true
          maxLength: 250
        start_date:
          type: string
          format: date
        use_daily_accounting:
          type: boolean
        proration_method:
          $ref: '#/components/schemas/ProrationMethodEnum'
        use_catchup:
          type: boolean
        catchup_date:
          type: string
          format: date
          nullable: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
        customer:
          type: integer
          readOnly: true
        contract:
          type: integer
      required:
      - bundle_name
      - contract
      - created_at
      - customer
      - deleted_at
      - id
      - is_deleted
      - last_modified_at
      - lines
      - start_date
    BillingFrequencyEnum:
      enum:
      - monthly
      - quarterly
      - biannual
      - annual
      - one_time
      - custom
      type: string
      description: '* `monthly` - Monthly

        * `quarterly` - Quarterly

        * `biannual` - Bi Annualy

        * `annual` - Annual

        * `one_time` - One Time

        * `custom` - Custom'
    SourceFc1Enum:
      enum:
      - SALESFORCE
      - HUBSPOT
      - STRIPE
      - MANUAL
      type: string
      description: '* `SALESFORCE` - Salesforce

        * `HUBSPOT` - Hubspot

        * `STRIPE` - Stripe

        * `MANUAL` - Manual'
    ComponentTypeEnum:
      enum:
      - SUBSCRIPTION
      - MILESTONE
      - USAGE
      type: string
      description: '* `SUBSCRIPTION` - Subscription

        * `MILESTONE` - Milestone

        * `USAGE` - Usage'
    TierPriceOverride:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        tier:
          type: integer
        tier_name:
          type: string
          readOnly: true
        contract:
          type: integer
        deal_name:
          type: string
          readOnly: true
        usage_group_id:
          type: integer
          readOnly: true
        usage_group_name:
          type: string
          readOnly: true
        price:
          type: number
          format: double
          maximum: 100000000000000
          minimum: -100000000000000
          exclusiveMaximum: true
          exclusiveMinimum: true
          nullable: true
          description: Override price per unit for this contract+tier
        percentage:
          type: number
          format: double
          maximum: 100000000000000
          minimum: -100000000000000
          exclusiveMaximum: true
          exclusiveMinimum: true
          nullable: true
          description: Override percentage for this contract+tier (percentage-based pricing)
        source:
          $ref: '#/components/schemas/TierPriceOverrideSourceEnum'
        integration_name:
          type: string
          nullable: true
          maxLength: 250
        external_reference:
          type: string
          nullable: true
          maxLength: 250
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - contract
      - created_at
      - deal_name
      - id
      - last_modified_at
      - tier
      - tier_name
      - usage_group_id
      - usage_group_name
    PatchedContract:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        entity_name:
          type: string
          readOnly: true
        client_name:
          type: string
          readOnly: true
        client_terms:
          type: string
          readOnly: true
        department_name:
          type: string
          readOnly: true
        parent_department_name:
          type: string
          readOnly: true
        parent_department:
          type: integer
          readOnly: true
        tags:
          type: string
        total_revenue:
          type: number
          format: double
          maximum: 10000000000000
          minimum: -10000000000000
          exclusiveMaximum: true
          exclusiveMinimum: true
          readOnly: true
        total_mrr:
          type: number
          format: double
          maximum: 10000000000000
          minimum: -10000000000000
          exclusiveMaximum: true
          exclusiveMinimum: true
          readOnly: true
        total_deferred_revenue:
          type: number
          format: double
          maximum: 10000000000000
          minimum: -10000000000000
          exclusiveMaximum: true
          exclusiveMinimum: true
          readOnly: true
        currency:
          type: string
          default: USD
        entity_currency:
          type: string
          default: USD
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/File'
          readOnly: true
        prepaid_commits:
          type: array
          items:
            $ref: '#/components/schemas/NestedContractPrepaidCommit'
          writeOnly: true
        contract_end_date:
          type: string
          format: date
          nullable: true
          description: Fixed end date for standard contracts. Leave null for evergreen contracts (is_evergreen=true).
        is_evergreen:
          type: boolean
          default: false
          description: Set true for evergreen contracts (no fixed end date). Evergreen contracts cannot also be auto-renew. Auto-renew is a legacy method to extend contracts.
        auto_send_invoices:
          type: boolean
          default: false
          description: When true, generated invoices are automatically sent on their invoice date.
        skip_evergreen_invoice_generation:
          type: boolean
          default: false
          description: For Evergreen contracts only. Set at contract creation; existing contracts cannot change this setting. False means current behavior. True skips only Campfire's auto-generated evergreen invoices; revenue transactions still generate; existing invoices are not cleaned up.
        auto_apply_customer_stripe_config_to_invoices:
          type: boolean
          default: false
[...]
